@mixin box-shadow {
    box-shadow: 0px 4px 6px 0px rgba(66, 69, 72, 0.2);
}
/*about*/
.about{padding-top: 30px;
    .container{@include box-shadow;}
    .item-1{color: #000;background-color: #fff;position: relative;
        &:after{width: 0;height: 0;border-top: 15px solid transparent;border-bottom: 15px solid transparent;border-left: 14px solid white;position: absolute;top: 60px;left: 100%;content: '';z-index: 10;}
    }
    .item-2{color: white;}
    .title{font-size: 24px;line-height: 29px;padding-bottom: 21px;font-weight: 300;
        img{float: left;margin-right: 13px;}
        h2{}
    }
    .item-wrap{padding: 45px 5px 20px 25px;}
    .text{line-height: 24px;font-weight: 300;
        p{margin-bottom: 10px;}
    }
}
/*/about*/

/*chat*/
.btn-sub{width: 100%;max-width: 130px;border:1px solid #7e7e7e;border-radius: 0px;background-color:transparent;color: #757575;font-size: 12px;transition:all ease .2s;
    &:hover{color: white;background-color: #7e7e7e;}
}
.chat-book{padding-top: 50px;
    .container{@include box-shadow;background-color: #fff;}
    .middle-block{padding-bottom: 35px;}
}
.main-chat,.cloned-chat,.not-logged-chat{padding-left: 40px;padding-top: 15px;margin-bottom: 22px;
    .chat-person{display: flex;justify-content:flex-start;flex-wrap:wrap;align-items: center;}
    .chat-person-img{height: 37px;width: 37px;overflow: hidden;border-radius: 50%;position: relative;margin-right: 11px;
        img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);    max-width: 110%;}
    }
    .chat-form{display: flex;justify-content:center;flex-wrap:wrap;align-items: flex-end;flex-direction:column;padding-top: 8px;
        textarea{width: 100%;border:1px solid #bdbdbd;font-size: 12px;padding: 10px;max-height: 62px;resize: none;margin-bottom: 20px;
            &.error{border-color:red;}
            &::-webkit-input-placeholder {color:#bdbdbd;}
            &:-moz-placeholder {color:#bdbdbd;}
            &::-moz-placeholder {color:#bdbdbd;}
            &:-ms-input-placeholder {color:#bdbdbd;}
        }
    }
}
.cloned-chat{display: none;padding-left: 0;margin-bottom: 0px;padding-top: 10px;padding-bottom: 10px;
    form{display: flex;align-items: flex-start;}
    .chat-person{width: 49px;justify-content: flex-start;}
    .chat-form{width: calc(100% - 49px);max-width: 620px;}
}

.chat-item-wrap{padding-left: 0;padding-right: 0;}
.chat-item{min-height: 110px;padding-left: 30px;position: relative;border-bottom: 2px solid #efefef;padding-bottom: 14px;
    &:after{content: '';position: absolute;bottom: 0;left: 0px;width: 5px;top: 100%;background-color: #ff7474;transition: all 0.5s;}
    &:hover{
        &:after{top: 0;}
    }
    .chat-item{margin-left: calc(30px + 1.5%);border-left: 2px solid #efefef;padding-left: 20px;min-height: 91px;border-top: none;border-bottom: 0;padding-bottom: 0;
        &:after{display: none;}
        .chat-person{padding-top: 10px;}
        .text{padding-bottom: 12px;}
    }
    &:first-child{border-top: 2px solid #efefef;}
    &:last-child{border-top: none;border-bottom: none;}
    &:before{display: block;clear: both;content: '';}
    .chat-person{padding-top: 20px;max-width: 90%;
        .chat-person-img{height: 37px;width: 37px;overflow: hidden;border-radius: 50%;position: relative;margin-right: 11px;float: left;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 110%;}
        }
        .chat-person-detail{float: left;}
        .chat-person-name{color: #00acc1;font-size: 14px;font-weight: 500;margin-bottom: 12px;}
        .chat-person-date{color: #bababa;font-size: 14px;vertical-align: top;
            .fa{font-size: 12px;}
            .fa-clock-o{margin-left: 5px;}

            span.reply-post{text-decoration: none;color: #bababa;font-size: 14px;cursor: pointer;
                &:hover{
                    span{text-decoration: none;}
                }
                .material-icons{font-size: 13px;margin-left: 5px;margin-right: -2px;}
                span{text-decoration: underline;}
            }
        }
    }

    .text{padding-left: 46px;padding-top: 10px;max-width: 90%;padding-bottom: 10px;
        span{font-weight: bold;}
    }
    .block-button{position: absolute;top: 0;right: 15px;
        .reply-post{color: #757575;display: table;min-height: 10px;cursor: pointer;
            &:hover{color: white;}
            i{display: table-cell;vertical-align: middle;}
            span{font-size: 16px;padding-left: 15px;display: table-cell;vertical-align: middle;}
        }
    }
}

.not-logged-chat{padding-top: 30px;
    .chat-person{display: flex;justify-content:space-between;
        p{color: #757575;font-size: 12px;
            a{color: #00acc1;text-decoration: none;}
        }
        b{font-weight: bold;color: #000;}
    }
    .btn-sub{max-width: 200px;}
}
/*/chat*/