@mixin box-shadow {
    box-shadow: 0px 4px 6px 0px rgba(66, 69, 72, 0.2);
}
/*about*/
.about{padding-top: 30px;
    .container{@include box-shadow;}
    .item-1{color: #000;background-color: #fff;position: relative;
        &:after{width: 0;height: 0;border-top: 15px solid transparent;border-bottom: 15px solid transparent;border-left: 14px solid white;position: absolute;top: 60px;left: 100%;content: '';z-index: 10;}
    }
    .item-2{color: white;}
    .title{font-size: 24px;line-height: 29px;padding-bottom: 21px;font-weight: 300;
        img{float: left;margin-right: 13px;}
        h2{}
    }
    .item-wrap{padding: 45px 5px 20px 25px;}
    .text{line-height: 24px;font-weight: 300;
        p{margin-bottom: 10px;}
    }
}
/*/about*/

/*chat*/
.btn-sub{width: 100%;max-width: 130px;border:1px solid #7e7e7e;border-radius: 0px;background-color:transparent;color: #757575;font-size: 12px;transition:all ease .2s;
    &:hover{color: white;background-color: #7e7e7e;}
}
.chat-book{padding-top: 50px;
    .container{@include box-shadow;background-color: #fff;}
    .main-chat{padding-left: 40px;padding-top: 15px;margin-bottom: 22px;
        .chat-person{display: flex;justify-content:flex-start;flex-wrap:wrap;align-items: center;}
        .chat-person-img{height: 37px;width: 37px;overflow: hidden;border-radius: 50%;position: relative;margin-right: 11px;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);    max-width: 110%;}
        }
        .chat-form{display: flex;justify-content:center;flex-wrap:wrap;align-items: flex-end;flex-direction:column;padding-top: 8px;
            textarea{width: 100%;border:1px solid #bdbdbd;font-size: 12px;padding: 10px;max-height: 62px;resize: none;margin-bottom: 20px;
                &::-webkit-input-placeholder {color:#bdbdbd;}
                &:-moz-placeholder {color:#bdbdbd;}
                &::-moz-placeholder {color:#bdbdbd;}
                &:-ms-input-placeholder {color:#bdbdbd;}
            }
        }
    }
}
.chat-item-wrap{border-top: 2px solid #efefef;border-bottom: 2px solid #efefef;position: relative;
    &:last-child{border-bottom: none;}
    &:after{content: '';position: absolute;bottom: 0;left: 0;width: 5px;top: 100%;background-color: #ff7474;transition: all 0.5s;}
    &:hover{
        &:after{top: 0;}
    }
}
.chat-item{min-height: 110px;padding-left: 30px;position: relative;
    .chat-person{padding-top: 20px;max-width: 90%;
        .chat-person-img{height: 37px;width: 37px;overflow: hidden;border-radius: 50%;position: relative;margin-right: 11px;float: left;
            img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);max-width: 110%;}
        }
        .chat-person-detail{float: left;}
        .chat-person-name{color: #00acc1;font-size: 14px;font-weight: 500;margin-bottom: 12px;}
        .chat-person-date{color: #bababa;font-size: 14px;vertical-align: top;
            .fa{font-size: 12px;}
            .fa-clock-o{margin-left: 5px;}
        }
    }
    .text{padding-left: 46px;float: left;padding-top: 10px;}
    .block-button{position: absolute;top: 0;right: 0;}
}
/*/chat*/