@mixin box-shadow {
    box-shadow: 0px 4px 6px 0px rgba(66, 69, 72, 0.2);
}

.soc{width: 46px; height: 46px; border-radius: 50%; border: 1px solid #767676; cursor: pointer; display: flex;align-items: center;justify-content: center; overflow: hidden; background-color: white; transition: all 0.5s; font-size: 16px; font-family: "FontAwesome"; color: rgb(117, 117, 117); text-decoration: none; }
.soc:hover{ color: white; text-decoration: none;}
.fb:hover{background-color: #23599b; border: 1px solid #23599b; @include box-shadow;}
.ok:hover{background-color: #da8f0f; border: 1px solid #da8f0f; @include box-shadow;}
.vk:hover{background-color: #0078b9; border: 1px solid #0078b9; @include box-shadow;}
.tw:hover{background-color: #00aef1; border: 1px solid #00aef1; @include box-shadow;}
.gp:hover{background-color: #d94d3c; border: 1px solid #d94d3c; @include box-shadow;}



.wrap-content{background-attachment: fixed;background-image: url(../images/childrens.jpg); position: relative;z-index: 4; padding: 57px 0 33px;
    .content-box{background-color: white;  border-radius: 3px;background-color: rgb(255, 255, 255);   @include box-shadow;  padding-top: 73px;
        .face-place-doc{ text-align: center; padding-left: 20px;
            .convert-foto{width:408px;  height: 408px; border-radius: 50%; overflow: hidden; position: relative; margin: 0 auto;
                img{position: absolute; left:0px; top: 0px;right: 0px;}
                &.no-avatar{background-color: #f4f5f9;box-shadow:0 4px 4px 0 rgba(0, 0, 0, .2);
                    &:before{content:'';display: block;position: absolute;width: 194px;height: 192px;background-image:url(../images/no-avatar.png);background-repeat: no-repeat;left: calc(50% - 97px);top:calc(50% - 96px);}
                }
            }

            .button-row{padding: 56px 0 29px;}
            .soc-blok{padding: 20px 0;
                .title-soc{font-size: 16px; font-family: "Roboto", sans-serif; font-weight: 300; text-transform: uppercase; }
                .row-soc-slice{display: flex;justify-content:space-around; max-width: 300px; margin: 0 auto; padding-top: 10px;

                }
            }
        }
    }
}

.button-spec{ display: block; margin: 0 auto; width: 100%; max-width: 360px; background-color: rgb(255, 116, 116); box-shadow: 0px 4px 4px 0px rgba(66, 69, 72, 0.5); text-decoration: none !important ; color: white; line-height: 60px; text-transform: uppercase; font-weight: 700;font-size: 16px;font-family: "Roboto", sans-serif; transition: all 0.5s;
    &:hover, &:active, &:focus{ color: white;}
    &:focus{ box-shadow: 2px 2px 4px 0px rgba(66, 69, 72, 0.5);}
    &:hover{background-color:#D24343;}
}

.description-doc{padding-right: 60px; padding-bottom: 60px;
    .ctext{ font-family: "Roboto", sans-serif; color: rgb(0, 0, 0);line-height: 1.688;
        h2{ font-size: 34px; font-weight: 700; text-transform: uppercase; line-height: 45px;     padding-bottom: 13px;}
        p{font-size: 16px;font-weight: 300; padding-bottom: 16px;}
        ul{font-size: 24px; font-family: "Roboto", sans-serif; color: rgb(0, 0, 0); line-height: 1.125; font-weight: 300; padding-top: 31px;
            li{font-size: 16px; padding-left: 30px; position: relative;line-height: 21px;padding-bottom: 14px;
                &:first-child{padding-top: 14px;
                    i{ position: absolute; left: 8px; top: 17px; font-size: 12px;}
                }
                i{ position: absolute; left: 8px; top: 2px; font-size: 12px;}
            }
        }
    }
}

.text-block{ max-width: 1000px; margin: 0 auto; padding: 15px;
    p{font-size: 16px; font-family: "Roboto", sans-serif; font-weight: 300; color: rgb(0, 0, 0);line-height: 1.5;
        span{font-weight: 500;}
        a{color: rgb(0, 0, 0); text-decoration: none;}
    }
}

.footer-tab{ height: 80px;
    .classic-box{background-color: rgb(255, 255, 255); @include box-shadow; border-radius: 3px;}
    a{display: block; text-decoration: none; font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(0, 0, 0);line-height: 80px; text-align: center;
        span{position: relative;
            &:after{content: ''; position: absolute;  bottom: 0; left: 0; right: 100%; background-color:rgb(117, 117, 117); transition: all 0.5s;}
        }
        img{ position: absolute; top: 50%; left: 0;}
        &:hover{
            span{
                &:after{right: 0; height: 1px; }
            }
        }
    }
    .logio-tab span{padding-left: 45px;
        &:after{display: none;}
        img{top: calc(50% - 36px/2);}
    }
    .phone span{padding-left: 25px;
        img{top: calc(50% - 16px/2);}
    }
    .mail span{padding-left: 25px;
        img{top: calc(50% - 12px/2);}
    }
}

/* reset style */
.doc-list-wrap{padding-top: 50px;}

.list-block{padding: 0;}
.post-list-block{padding:0; }
.collegs-wrap{padding-top: 20px;}

/* /reset style */


/* universal list for butifull */

.universal-list{ width: 100%; background-color: #ffffff; @include box-shadow; border-radius: 3px;
    li{ border-bottom:2px solid #efefef; display: flex; align-items: center; justify-content: space-between; padding-left: 50px; padding-right: 15px;position: relative; counter-increment: plan-numbered;
        &:before{content: ''; position: absolute;left: 0;width: 5px;background-color: #ff7474; transition: all 0.5s;top: 50%;transform: translateY(-50%);height: 0;}
        &:hover{
            &:before{height: 100%;}
        }
    }
    li:last-child{ border-bottom:0px solid #efefef; }
}
/* /universal list for butifull */

/* documents list by single user */

.dstranger-list{ border-radius: 0px 0px 3px 3px; margin: 0px; width:100%; transition: all 0.5s;
    .list-document{display: table; min-height: 70px; max-width: calc(100% - 125px); padding: 15px 0;
        .face-doc{display: table-cell; vertical-align: top; min-width: 36px;
            .convert{border-radius: 50%; overflow: hidden;}
        }
        .name-item{padding-left: 15px; display: table-cell; vertical-align: middle;
            .convert{display: flex; align-items: flex-start;
                span{display: block; padding: 3px 7px ; color: white; background-color: #ff7474; margin-left: 10px; font-size: 12px; font-weight: 400;}
                h4{font-family: 'Roboto', sans-serif; font-weight:700; font-size: 16px; color:black;
                    a{text-decoration: none;
                        &:hover{text-decoration: none;}
                    }
                }
                h4:before{content: counter(plan-numbered)". ";}
            }
            h6{color: #545454; font-size: 12px; font-weight: 300; font-family: "Roboto", sans-serif; padding-top: 7px; }
            p{font-size: 12px; color:#757575; font-family: 'Roboto', sans-serif;  padding-top: 17px;font-weight:300;  }
        }
    }
}
/* /documents list by single user */

/* single user plans */

.doctor-row {border-radius: 3px 3px 0px 0px;  transition: all 0.3s;
    li:last-child{ border-bottom:2px solid #efefef; }
   .convers{display: table; min-height: 70px; max-width: calc(100% - 125px); padding: 15px 0;
        .face-doc{display: table-cell; vertical-align: top; min-width: 36px;
            .convert{border-radius: 50%; overflow: hidden;}
        }
        .name-item{padding-left: 15px; display: table-cell; vertical-align: middle;
            .convert{display: flex; align-items: flex-start; justify-content: flex-start;
                strong{display: block; padding: 3px 7px ; color: white; background-color: #ff7474; margin-left: 10px; font-size: 12px; font-weight: 400;}
                h4{font-family: 'Roboto', sans-serif; font-weight:400; font-size: 16px; color:#00aec3;
                    a{text-decoration: none; font-weight:400; font-size: 16px; color:#00aec3;
                        &:hover{text-decoration: underline;}
                    }

                    span{background-color: white; padding: 0; margin: 0; display: inline;}
                }
            }

            .frack{padding-top: 15px;
                b{ font-size: 12px; color: #000000; font-family: 'Roboto', sans-serif; font-weight:300; display: block;
                    span{color: #00aec3;
                        a{text-decoration: none; color: #00aec3; 
                            &:hover{text-decoration: underline;}
                        }
                    }
                }
            }



            p{font-size: 12px; color:#757575; font-family: 'Roboto', sans-serif;  padding-top: 10px;font-weight:300; }
        }
   }
}

/* /single user plans */

/* curator special row */
.chief-row{ margin: 0 -30px; width: calc(100% + 60px);transition: all 0.3s;
    .convers{display: table; min-height: 70px; max-width: calc(100% - 125px); padding: 15px 0;
        .face-doc{display: table-cell; vertical-align: top; min-width: 36px;
            .convert{border-radius: 50%; overflow: hidden;}
        }
        .name-item{padding-left: 15px; display: table-cell; vertical-align: middle;
            .convert{display: flex; align-items: flex-start; justify-content: flex-start;
                span{display: block; padding: 3px 7px ; color: white; background-color: #ff7474; margin-left: 10px; font-size: 12px; font-weight: 400;}
                h4{font-family: 'Roboto', sans-serif; font-weight:700; font-size: 16px; color:#00aec3;
                    span{background-color: white; padding: 0; margin: 0; display: none;}
                }
            }
            b{ font-size: 12px; color: #000000; font-family: 'Roboto', sans-serif; font-weight:300; display: block;
                span{color: #00aec3;}
            }
            p{font-size: 12px; color:#757575; font-family: 'Roboto', sans-serif;  padding-top: 10px;font-weight:300; }
        }
    }
}

/* /curator special row */

/* documents blocks */

.doc-list-items{
    .naming{display: table; min-height: 70px; max-width: calc(100% - 125px);
        .type-item{display: table-cell; vertical-align: middle; min-width: 36px;
            .convert{border-radius: 50%; overflow: hidden;}
        }
        .name-item{display: table-cell; vertical-align: middle; padding-left: 15px;font-family: 'Roboto', sans-serif; font-weight: 300; line-height: 20px;
            h5{ color: black; font-size: 16px;}
            p{color: #999999; font-size: 12px;}
        }
    }
}

/* /documents blocks */

/* buttons block */

.block-button{ display: table; min-height: 70px;
    .drop{ display: table-cell; text-decoration: none; vertical-align: middle; position: relative;
        .convert{width: 40px; height: 40px; border-radius: 50%;  background-color: white; cursor: pointer; display: flex; justify-content:center; align-items: center; transition: all 0.3s; color: #bababa; font-size: 26px;
            &:hover{background-color: #efefef; color: #767676;}
        }

        .hide-hipe{display: none; position: absolute; background-color: white; right: 0; z-index: 10;}


        .soc-blok{ width: 350px; height: 110px; border-style: solid; border-width: 1px;  border-color: rgb(240, 240, 240); background-color: rgb(255, 255, 255);   @include box-shadow;  padding: 20px;
            .title-soc{font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(0, 0, 0); text-align: center; font-weight: 300;  text-transform: uppercase;  line-height: 1.2;  padding-bottom: 10px; }
            ul{display: flex; justify-content: space-around; width: 100%;
                li {border-bottom: none;padding: 0;
                    &:before{display: none;}
                    a{text-decoration: none;}
                }

            }
        }

        .share-block{ width:285px; border-style: solid; border-width: 1px; border-color: rgb(240, 240, 240); background-color: rgb(255, 255, 255); @include box-shadow;
            ul li{font-size: 20px; color: rgb(117, 117, 117); padding: 10px 20px; border: none; transition: all 0.2s;
                a{text-decoration: none; display: block; color: rgb(117, 117, 117); display: table; min-height: 10px;
                    span{font-size: 16px; padding-left: 15px; display: table-cell; vertical-align: middle;}
                    i{ display: table-cell; vertical-align:  middle;}
                }

                &:first-child{padding-top: 20px; }
                &:last-child{border-top:2px solid #efefef; padding-bottom: 20px; }
                &:before{display: none;}
                &:hover{/**background-color:#00AEC3;*/
                    a{color: #00AEC3;}
                }
            }

        }

    }
    .active-drop {
        .convert{ transform: rotate(90deg); background-color: #efefef; color: #767676; }
    }
}

/* /buttons block */

/* site map */

.superlist{padding-top: 50px;}
.mapper{
    li{
        a{display: block; width: 100%;line-height: 55px; font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(0, 174, 195); text-decoration: none; transition: all 0.5s;
            &:hover{text-decoration: underline;}
        }
    }
}

/* /site map */

.lister-page{display: block;
    .single{padding: 0px 0; transition: all 0.5s;  border-bottom: 2px solid #efefef;
        .universal-list{@include box-shadow;}
        .vsplivander{display: none; position: relative;
            .spec-c{position: absolute;  z-index: 9; top: calc(50% - 1px); padding: 3px; border-top: 1px solid #efefef; border-bottom: 1px solid #efefef; left: -30px; right: -30px;background-color: white; cursor: pointer; transition: all 0.5s;
                .open-more{position: absolute;  z-index: 9; top: calc(50% - 20px); left: 10px;  border: 1px solid #efefef;; width: 40px; height: 40px; text-align: center; line-height: 38px; border-radius: 50%; background-color: white;font-weight: bold;font-size: 12px;font-family: "Roboto", sans-serif; transition: all 0.5s; }
                &:hover{border-top: 1px solid #00aec3; border-bottom: 1px solid #00aec3; box-shadow: 0 0 6px 0 rgba(0, 172, 193, 0.5);
                    .open-more{border: 1px solid #00aec3; box-shadow: 0 0 6px 0 rgba(0, 172, 193, 0.5);}
                }
            }
        }
        &:last-child {border-bottom: 0px solid #efefef;}
        .doctor-row{ border-radius: 0px; transition: all 0.5s;
            li:last-child {border-bottom: 0px solid #efefef;}
        }
    }

    .activate{padding: 20px 0; box-shadow: none;
        .universal-list{@include box-shadow;}
        .doctor-row{ border-radius: 3px;
            li:last-child {border-bottom: 0px solid #efefef;}
        }
        .vsplivander{ display: block;
            .universal-list li { border-bottom: 0px solid #efefef;}
            .dstranger-list{  margin: 0 -30px; width: -webkit-calc(100% + 60px);

                li{height: 0; overflow: hidden; visibility: hidden;
                    .block-button li {height: auto; overflow: visible;  visibility: visible; border-top: 0;
                        &:last-child {border-top: 2px solid #efefef;}
                    }
                }
                li:nth-child(1),  li:last-child{height: auto; overflow: visible;  visibility: visible;}

                li{border-top:2px solid #efefef;}
            }

            .openAll{
                .spec-c{display: none;}
                li{ height: auto; overflow: visible; visibility: visible;}
            }
        }
    }
}

.wrap-texter{padding-top: 60px;
    &+.chat-book{padding-top: 0px;}
    .container{background-color: white; @include box-shadow;
        .text-block{padding: 50px 45px 0;
            .title-text-desc{ display: flex; justify-content: space-between;
                .content{font-size: 16px;  font-family: "Roboto", sans-serif; color: rgb(84, 84, 84);   line-height: 1.5;
                    p{display: inline-block; padding-right: 12px; }
                    i{padding: 0 3px; font-size: 14px;}
                }
            }
            .foot-text{ padding-bottom: 54px;  width: 100%;
                .ask-row{font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(0, 0, 0);   font-weight: bold;  line-height: 1.2; padding-bottom: 25px;}
                .soc-row{
                    p{display: inline-block; font-size: 16px; font-family: "Roboto", sans-serif;  color: rgb(143, 143, 143);  line-height: 1.2;}
                    a{display: inline-block; text-decoration: none; color: #8f8f8f; transition: all 0.5s;font-size: 24px; padding: 0 20px;
                        &:hover{color: rgb(0, 174, 195); text-shadow: 0px 4px 6px rgba(66, 69, 72, 0.2); }
                    }
                }

            }
            .ctext{ padding: 15px 0 0;font-family: "Roboto", sans-serif;color: rgb(0, 0, 0);
                div{ width: 100%;
                    p{font-size: 14px; color: rgb(0, 0, 2); text-transform: uppercase;  line-height: 1.714; text-align: center;font-weight: 400;    padding-top: 14px;}
                }
                h5{ font-weight: 700; font-size:24px; padding: 5px 0 20px;}
                p{font-weight: 300; font-size:16px; text-align: justify; padding-bottom: 50px;
                    a{color: #00adc3;}
                }

                blockquote{display: block;padding:26px 0 28px; position: relative; font-weight: 300; font-size:16px; text-align: justify; border-top: 1px solid #000000;border-bottom: 1px solid #000000; margin-bottom: 46px;
                   span{ position: absolute; top: 10px; left: calc(9% - 25px); font-size: 50px;   font-family: "Roboto", sans-serif;   line-height: 1.2; font-weight: 400;}
                   i{display: block; max-width: 82%; margin: 0 auto; line-height: 24px;}
                }


            }
        }
    }
}


.content-tabs{ margin: 0 -15px; padding-top: 60px;
    .korpus > div, .korpus > input { display: none; }

    .korpus { width: 100%; background-color: white;@include box-shadow; border-radius: 3px;
        label{ text-align: center; line-height: 80px; cursor: pointer; position: relative; background: #fff; width: 25%; display: inline-block; float: left; border: none; border-bottom: 2px solid #f4f4f4;position: relative;font-size: 16px; font-family: "Roboto", sans-serif;  color: rgb(0, 0, 0);text-transform: uppercase; font-weight: 300;
            &:before{content:' '; position: absolute; left: 50%; right: 50%; height: 6px; bottom: -2px; transition: all 0.5s; background-color: #00aec3; }
            /*&:hover{
                &:before{right: 0;}
            }*/
        }
    }

    .korpus input[type="radio"]:checked + label{ font-weight: 700;font-size: 16px; font-family: "Roboto", sans-serif;  color: rgb(0, 0, 0);text-transform: uppercase;
        &:before{content:' ';right: 0; left: 0;  }
    }

    .korpus > input:nth-of-type(1):checked ~ div:nth-of-type(1),
    .korpus > input:nth-of-type(2):checked ~ div:nth-of-type(2),
    .korpus > input:nth-of-type(3):checked ~ div:nth-of-type(3),
    .korpus > input:nth-of-type(4):checked ~ div:nth-of-type(4) {  display: block; padding-top: 82px;}

    .tabs-conteiner .item-list{ display: block; padding: 40px; width: 100%;
        .item{  float: left; width: 20%; text-align: center; padding-top: 25px; padding-bottom: 25px;
            .zipper{position: relative;
                a{display: block;}
                i{position: absolute; top: calc(50% - 12px); left: calc(50% - 12px); opacity: 0; transition: all 0.5s;}
                img{opacity: 1; transition: all 0.5s;}
                &:hover{
                    img{opacity: 0.4;}
                    i{opacity: 1;}
                }
            }
        }
    }
}


/* popup*/
body>svg{position: absolute;left: -99999em;top: -99999em;}
.fancybox-lock{
    .global-wrapper, .button-up, .button-plus{-webkit-filter: url("#blurr");filter: url("#blur");-moz-filter: url("#blur");}
}
.fancybox-overlay{background-image:none;background-color: rgba(0, 0, 0, .75);}

.fancybox-form-wrap{width: 100%!important;max-width: 690px;left:50%!important;transform:translate(-50%, 0);
    .fancybox-close{width: 0; height: 0; overflow: hidden;}
    .fancybox-inner{width: 100%!important;}
}

.modal-title{line-height: 70px; border-bottom: 1px solid #767676; width: 100%;  padding-left: 30px;font-size: 24px; font-family: "Roboto", sans-serif; color: rgb(0, 0, 0); font-weight: 300; position: relative; min-height: 70px; padding-right: 40px;
    &:after{content: ''; position: absolute; bottom: -2px; left: 0; right: 100%; height: 2px; background-color: #00aec3;transition:right 2500ms ease;}
    &.active{
        &:after{right: 0%;}
    }
}
.modal-body{padding: 40px 60px 0;}
.modal-footer {border-top: 1px solid #767676; height: 110px;padding: 0 60px; display: flex; justify-content: flex-end;  align-items: center;
    .contact-form-item{margin-left: 5px;
        .contact-submit{width: 150px; line-height: 50px; cursor: pointer;}
        .close-fancybox-please{text-decoration: none; text-align: center;display: block; transition: all 0.5s; font-size: 16px; font-family: "Roboto", sans-serif;color: rgb(84, 84, 84);
            &:hover{ color: rgb(255, 116, 116);   }
        }
        button{  border: none; outline: none;font-size: 16px; font-family: "Roboto",sans-serif;  color: rgb(255, 255, 255); background-color: rgba(0, 174, 195,0.4); transition: all 0.5s;        }
        .active-submit{background-color: #00aec3;}
    }
}

.fancybox-close-btn{ top: 27px; right:27px; background-image: none; width: 16px; height: 16px; cursor: pointer; z-index: 10; position: absolute;
    &:before{content: ''; position: absolute; width: 18px; height: 1px; background-color: #9a9a9a; transform: rotate(45deg); top: 8px; transition: all 0.5;  }
    &:after{content: '';position: absolute; width: 18px; height: 1px; background-color: #9a9a9a; transform: rotate(-45deg); top: 8px; transition: all 0.5;}
    &:hover{
        &:before, &:after{background-color:#00aec3; }
    }
}

#predlog, #predlog-zalog { background-color: white;
    .predlog-wrap{
        .contact-form-title{
        }
        .text-area-block{padding-top: 10px;}
        .contact-form-row{
            .title-row{ display: flex; justify-content: space-between;
                p{display: block; font-size: 12px; font-family: "Roboto", sans-serif; color: rgb(0, 0, 0); font-weight: bold;}
                b{display: block;font-size: 12px; font-family: "Roboto",sans-serif;   color: rgb(117, 117, 117);  line-height: 1.2; font-weight: 300;
                    a{color:#00aec3; text-decoration: none; }
                }
            }
            .title-login{display:table; min-height: 5px; text-decoration: none;
                .conteiner{display: table-cell; vertical-align: middle;
                    .convert{width: 36px; height: 36px; overflow: hidden; border-radius: 50%; }
                    .name-person{padding-left: 10px; font-size: 14px; font-family: "Roboto", sans-serif;  color: rgb(0, 0, 0);}
                }
            }

            .form_input{width: 100%;
                textarea{width: 100%; height: 145px; border: 2px solid #dddddd; resize: none;font-size: 16px;   font-family: "Roboto", sans-serif; color: #585454;  line-height: 1.2; padding: 15px;  font-weight: 300; }
                p{font-size: 16px; font-family: "Roboto", sans-serif;color: rgb(84, 84, 84);  line-height: 1.5; font-weight: 300; padding-bottom: 30px;}
                label{display: none !important;}
                .error-field{font-size: 12px; font-family: "Roboto", sans-serif; padding-bottom: 10px; color: rgb(255, 117, 119);  line-height: 2; display: table; min-height: 12px;display: none;
                    i{font-size: 12px; display: table-cell; vertical-align: middle; padding-right: 5px;}
                    span{display: table-cell; vertical-align: middle;}
                }
                .show-this-row{display: table !important;}

            }
            .error{
                .form_input .error-field{display: table;}
            }
        }
    }
}

#add-material {background-color: white; position: relative; overflow: hidden;

    .give-me-border{border: 2px solid #767676;
        &:hover{border: 2px solid rgb(255, 116, 116);}
    }
    .conteiner-list{padding: 0; overflow-y: scroll;
        .title-check{font-size: 16px; font-family: "Roboto", sans-serif;  color: rgb(0, 0, 0);   font-weight: bold; line-height: 75px; padding-left: 30px; }
        ul {
            li {width: 100%; border-bottom: 2px solid #efefef; transition: all 0.5s;
                a {padding: 0 0 0 30px; text-decoration: none; display: flex;  justify-content: flex-start; align-items: center; width: 100%; min-height: 56px;
                    p{ padding-left: 20px; font-size: 16px;  font-family: "Roboto", sans-serif; color: rgb(0, 0, 0); font-weight: 300;}
                }
                &:first-child{border-top: 2px solid #efefef;}
                &:hover{background-color:#00aec3; }
            }
        }
    }
    .modal-title{ background-color: white; z-index: 4;width: 100%; }
    .modal-footer{ background-color: white; width: 100%;}
}



.easy-popup-form{background-color: white;
    .east-contact-form{padding-top: 0px;
        .contact-form-item{padding: 15px 0 0;}
        .text-area-block{padding-top: 40px;}
    }
    .select-row{position: relative; z-index: 10;}
    select{width: 0; height: 0; opacity: 0; overflow: hidden;}
    .pop-choose{width: 100%; font-weight: 300; border-bottom: 1px solid #a9a9a9; line-height: 30px; padding-left: 10px; position: relative;
        .hide-placeholder{display: none;}
        .jq-selectbox__select-text{width: 100% !important; color: rgb(84, 84, 84);; cursor: pointer; font-size: 16px; font-family: "Roboto", sans-serif;   line-height: 2;}
        .jq-selectbox__dropdown{right: 0;  @include box-shadow; border-radius: 3px;
            ul{ max-height: 120px !important; background-color: white; border: 1px solid #00adc3; z-index: 102;border-top: 2px solid #00adc3;
                li{cursor: pointer; font-size: 16px; font-family: "Roboto", sans-serif;  color: rgb(84, 84, 84); line-height: 2; transition: all 0.5s;padding: 0 10px;
                    &:hover{background-color: #00adc3; color: white;}
                }
            }
        }
        .jq-selectbox__trigger{position: absolute; right: 10px;  width: 10px; top: 0; bottom: 0;
            .jq-selectbox__trigger-arrow{position: relative; transition: all 0.5s;
                &:before{ content: ''; position: absolute; left: 0;top: 10px; width: 6px; height: 1px; background-color: #737373; transform: rotate(45deg); transition: all 0.5s;}
                &:after{content: ''; position: absolute; right: 0;top: 10px; width: 6px; height: 1px; background-color: #737373; transform: rotate(-45deg); transition: all 0.5s;}
            }
        }
    }
    .changed{
        .jq-selectbox__select-text{color: rgb(0, 0, 0);}
    }

    .opened {z-index: 105 !important;
        .jq-selectbox__trigger .jq-selectbox__trigger-arrow{transform: rotate(90deg);
            &:before{ left: 5px;top: 0px; width: 6px;  transform: rotate(45deg);}
            &:after{right: -5px;top: 0px;  transform: rotate(-45deg);}
        }
    }
    .contact-form-item-input{ position: relative;
        .form_input{ width: 100%;
            input[type=file]{width: 0; height: 0; overflow: hidden;}
            .save-planet{display: block !important; cursor: pointer;
                p{ font-size: 12px; font-family: "Roboto"; color: rgb(84, 84, 84); line-height: 2;
                    i{font-size: 14px;}
                }
            }

            input[type=text], input[type=email] {width: 100%; font-weight: 300; border: none; outline: none; border-bottom: 1px solid #a9a9a9; line-height: 30px; padding-left: 10px; font-size: 16px;   font-family: "Roboto", sans-serif;  color: rgb(84, 84, 84);  line-height: 2; background-color: transparent; }

            textarea{width: 100%; height: 90px; border: 1px solid #a9a9a9; resize: none;font-size: 16px;   font-family: "Roboto", sans-serif; color: #585454;  line-height: 1.2; padding: 15px; background-color: transparent; font-weight: 300;}
            p{font-size: 16px; font-family: "Roboto", sans-serif;color: rgb(84, 84, 84);  line-height: 1.5; font-weight: 300; padding-bottom: 5px; display: inline-block; width: 48%;}
            label{display: none !important;}
            .error-field{font-size: 12px; font-family: "Roboto", sans-serif; padding-bottom: 10px; color: rgb(255, 117, 119);  line-height: 2; display: table; min-height: 12px;display: none;
                i{font-size: 12px; display: table-cell; vertical-align: middle; padding-right: 5px;}
                span{display: table-cell; vertical-align: middle;}
            }
            .show-this-row{display: table !important;}
            .checked-save{display: inline-block; width: 48%;
                input[type=checkbox]{width: 0; height: 0; overflow: hidden; opacity: 0;}
                label{display: block !important; cursor: pointer;
                    .cinstructive-text{font-size: 12px; font-family:"Roboto", sans-serif; font-weight: 300;  display: inline-block; vertical-align: middle; text-align: right;
                        i{font-size: 12px; vertical-align: bottom; }
                    }
                    .done{display: none; color: #00aec3;}
                    .not-done{display: block; color:#545454;}
                }
                input[type=checkbox]:checked + label {
                    .done{display: block;}
                    .not-done{display: none;}
                }
            }
        }
        .spec-padd{padding-top: 40px;}
    }

    .error{
        .form_input .error-field{display: block !important;}
    }
}


.lister-page .single .vsplivander .spec-c {    top: calc(100% - -1px);  left: 0px; right: 0px; }
.dstranger-list .list-document .face-doc { vertical-align: middle;}


/* block for specials */
.rover{ position: relative; padding-top: 10px;
   
    .placeholder-simplify{position: absolute; top: 10px;font-size: 16px; font-family: "Roboto", sans-serif;padding: 0 3px 0; color: rgb(84, 84, 84);line-height: 2; font-weight: 300; left: 7px;z-index: 2; transition: all 0.3s; }
    .form_input{position: relative; z-index: 5;}

    .placeholder-textarea{top: 15px; background-color: white; padding: 0 3px 0;}
    .trans-plato-textarea{top: -6px; left: 2px; background-color: white; z-index: 10; font-size: 14px;
    }
    .trans-plato{top:-12px; left: 2px; background-color: white; z-index: 10; font-size: 14px; }
}
.convert-input-beutifull{ position: relative; 
     &:before{content: ''; position: absolute;height: 0px;  left: 50%; right: 50%; background-color:#00aec3; transition: all 0.5s; bottom: 0; z-index: 5; }
}

.beutifull-hover{
      &:before{ left: 0; right: 0; height: 2px; }  
}
.text-area-block .beutifull-hover{
      &:before{ bottom: 2px; left: 0; right: 0; height: 2px; }  
}

/* more popup */

#zapros, #obratka {background-color: white;
    .opis-row{ display: flex; justify-content: flex-start; align-items: center;min-height: 40px; margin-left: -30px; padding: 25px 0;
        .convert{width: 28px;  }
        .opis{ font-size: 16px; font-family: 'Roboto', sans-serif; padding-left: 20px;line-height: 1.2;
            b{font-weight: 700; }
            p{font-weight: 300;}
        }
    }
    .tel-mask{margin-bottom: 40px;}
}

/* special popup*/

.modal-with-active{
    h5{display: inline-block;
        b{font-weight: 700;}
    }
    .status-link{display: inline-block;font-size: 16px; font-family: "Roboto", sans-serif;
        .save{display: none; color: rgb(0, 174, 195);}
        .chernovik{display: none; color: rgb(255, 117, 119);}
        .publick{ color: rgb(0, 193, 21);}
    }
}
.slider-row{  margin: 0 -60px;
    .sliding-shift{ padding: 5px 0; height: 0; overflow: hidden; transition: all 0.5s;
        .item{ width: 100px;  margin: 0 auto; display: block; vertical-align: middle; position: relative; cursor: pointer;
            .close-button-item{position: absolute;top: 5px; right: 5px; width: 13px; height: 13px; overflow: hidden; z-index: 5;
                &:before{content: ''; width: 13px; height: 1px; position: absolute; top: 5px; right: 0px; transform: rotate(45deg); background-color: white;}
                &:after{content: ''; width: 13px; height: 1px; position: absolute; top: 5px; right: 0px; transform: rotate(-45deg); background-color: white;}
            }

            .convert{ position: relative; border: 0px solid transparent;background-color: rgb(255, 255, 255); box-shadow: 0px 4px 6px 0px rgba(66, 69, 72, 0.2); transition: all 0.5s;
                .progress-line{position: absolute; bottom: 1px; left: 0; right: 60%; height: 3px;  background-color: #00aec3; }
                &:hover{box-shadow: 0px 5px 10px 0px rgba(66, 69, 72, 0.5),inset 0px 0px 1px 1px #aaacae;}
                .description-file{ padding-left: 20px; font-size: 12px; font-family: "Roboto", sans-serif; font-weight: 700; color: #545454; height: 45px; display: inline-block; vertical-align: middle; position: relative;
                    .name{ line-height: 20px; max-width: 80px; max-height: 20px; overflow: hidden;}
                    .size{line-height: 20px; max-width: 80px; max-height: 20px; overflow: hidden;}
                    .done-button{position: absolute; top: 2px;  left: 8px;
                        i{font-size: 8px; color: black; line-height: 18px;}
                    }
                }
            }
            .checker{ width: 100%;height: 30px; display: flex; align-items: center;
                .row-check-some{ font-size: 10px;font-family: "Roboto", sans-serif; text-align: center; width: 100%; font-weight: 300; vertical-align: middle;
                    i{font-size: 12px; vertical-align: bottom; }
                }
                .done{display: block;  color:#545454;  }
                .not-done{display: none; color: #00adc3;}
            }
            .rewerse-checker{
                .done{display: none;  color:#545454;  }
                .not-done{display: block; color: #00adc3;}
            }
        }
        .active-item{
            .convert {box-shadow: 0px 5px 10px 0px rgba(66, 69, 72, 0.5),inset 0px 0px 1px 1px #aaacae;}
        }
        .slick-next{position: absolute; right: -12px; background-color: white; z-index: 5; width: 30px; height: 30px; border-radius: 50%; box-shadow: 0px 4px 6px 0px rgba(66, 69, 72, 0.5); transition: all 0.5s;
            &:after{content: ''; top: 11px; position: absolute; width: 9px; height: 9px; border-top: 2px solid #535353; border-left: 2px solid #535353; transform: rotate(135deg); right: 11px;}
            &:hover{box-shadow: 0px 4px 6px 0px rgba(66, 69, 72, 0.5), inset 0px 0px 1px 1px rgba(66, 69, 72, 0.5)}
        }
        .slick-prev{position: absolute; left: -12px; background-color: white; z-index: 5; width: 30px; height: 30px; border-radius: 50%; box-shadow: 0px 4px 6px 0px rgba(66, 69, 72, 0.5); transition: all 0.5s;
            &:after{content: ''; top: 11px; position: absolute; width: 9px; height: 9px; border-top: 2px solid #535353; border-left: 2px solid #535353; transform: rotate(-45deg); right: 10px;}
            &:hover{box-shadow: 0px 4px 6px 0px rgba(66, 69, 72, 0.5), inset 0px 0px 1px 1px rgba(66, 69, 72, 0.5);}
        }
    }
    .activate-field{height: 160px; overflow: visible; }
    
}

#change-document{ width: 725px; padding: 0 12px; background-color: transparent;
    .slick-button-next{width: 10px; background-color: red; height: 10px; position: absolute; top: 300px; right: 0px;}
    .slick-button-prew{width: 10px; background-color: red; height: 10px; position: absolute; top: 300px; left: 0px;}
    .change-document{background-color: white;}
}


.fancybox-form-special{
     .fancybox-skin { background: transparent; box-shadow: none; padding: 0 12px;}
}
