.wrap-content{background-attachment: fixed; margin-top: -27px;background-image: url(../images/childrens.jpg); position: relative;z-index: 4; padding: 57px 0 33px;
    .content-box{background-color: white;  border-radius: 3px;background-color: rgb(255, 255, 255);   box-shadow: 0px 4px 6px 0px rgba(66, 69, 72, 0.2);  padding-top: 73px;
        .face-place-doc{ text-align: center; padding-left: 20px;
            .convert-foto{width:408px;  height: 408px; border-radius: 50%; overflow: hidden; position: relative; margin: 0 auto;
                img{position: absolute; left:0px; top: 0px;right: 0px;}
            }

            .button-row{padding: 56px 0 29px;}
            .soc-blok{padding: 20px 0;
                .title-soc{font-size: 16px; font-family: "Roboto", sans-serif; font-weight: 300; text-transform: uppercase; }
                .row-soc-slice{display: flex;justify-content:space-around; max-width: 300px; margin: 0 auto; padding-top: 10px;
                    .soc{width: 46px; height: 46px; border-radius: 50%; border: 1px solid #767676; cursor: pointer; display: flex;align-items: center;justify-content: center; overflow: hidden; background-color: white; transition: all 0.5s; font-size: 16px; font-family: "FontAwesome"; color: rgb(117, 117, 117); text-decoration: none; }
                    .soc:hover{ color: white;}
                    .fb:hover{background-color: #23599b; border: 1px solid #23599b;}
                    .ok:hover{background-color: #da8f0f; border: 1px solid #da8f0f;}
                    .vk:hover{background-color: #0078b9; border: 1px solid #0078b9;}
                    .tw:hover{background-color: #00aef1; border: 1px solid #00aef1;}
                    .gp:hover{background-color: #d94d3c; border: 1px solid #d94d3c;}
                }
            }
        }
    }
}

.button-spec{ display: block; margin: 0 auto; width: 100%; max-width: 360px; background-color: rgb(255, 116, 116); box-shadow: 0px 4px 4px 0px rgba(66, 69, 72, 0.5); text-decoration: none !important ; color: white; line-height: 60px; text-transform: uppercase; font-weight: 700;font-size: 16px;font-family: "Roboto", sans-serif; transition: all 0.5s;
    &:hover, &:active, &:focus{ color: white;}
    &:focus{ box-shadow: 2px 2px 4px 0px rgba(66, 69, 72, 0.5);}
    &:hover{background-color:#D24343;}
}

.description-doc{padding-right: 60px; padding-bottom: 60px;
    .ctext{ font-family: "Roboto", sans-serif; color: rgb(0, 0, 0);line-height: 1.688;
        h2{ font-size: 34px; font-weight: 700; text-transform: uppercase; line-height: 45px;     padding-bottom: 13px;}
        p{font-size: 16px;font-weight: 300; padding-bottom: 16px;}
        ul{font-size: 24px; font-family: "Roboto", sans-serif; color: rgb(0, 0, 0); line-height: 1.125; font-weight: 300; padding-top: 31px;
            li{font-size: 16px; padding-left: 30px; position: relative;line-height: 21px;padding-bottom: 14px;
                &:first-child{padding-top: 14px;
                    i{ position: absolute; left: 8px; top: 17px; font-size: 12px;}
                }
                i{ position: absolute; left: 8px; top: 2px; font-size: 12px;}
            }
        }
    }
}