<div class="error-page">
    <div class="container">
        <div class="error-page-wrap">

            <div class="error-img">
                <img src="images/404-img.png" alt="" />
            </div>

            <div class="title">Ошибка №404!</div>
            <div class="text">
                <p>Увы, страница не найдена. Измените условия поиска или уточните правильность ссылки на страницу и повторите запрос. Если не помогло - </p>
                <p><a href="#">обратитесь в техподдержку.</a></p>
            </div>

        </div>
    </div>
</div>