<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 item-1 about-item">
                <div class="about-item-wrap">
                    <div class="item-wrap">
                        <div class="title cfix">
                            <img src="images/about-1.png" alt="">
                            <h2>Этот сайт предназначен для педагогов дошкольных учреждений </h2>
                        </div>
                        <div class="text">
                            <p>с целью обобщения, систематизации и распространения накоплен- ного материала. </p>
                            <p>На сайте вы найдете материал для работы инструктора по физичес- кой культуры, а также разработки занятий, родительских собраний, презентации. </p>
                            <p>В общем все то, что может пригодиться педагогу в работе. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 item-2 about-item" style="background-color: #00acc1;">
                <div class="about-item-wrap" >
                    <div class="item-wrap">
                        <div class="title cfix">
                            <img src="images/about-2.png" alt="">
                            <h2>Для тех, кто хочетподелиться своим опытом, обменяться информацией </h2>
                        </div>
                        <div class="text">
                            <p>я с удовольствием размещу Ваши материалы на своем сайте со ссылкой  на Ваше авторство.</p>
                            <p>Очень надеюсь, что информация, размещенная на страницах сайта, будет для Вас полезна и интересна.</p>
                            <p>Приятного просмотра!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>