<div class="chat-book">
    <div class="container">
        <div class="row top-block">
            <div class="col-sm-10 col-xs-12">
                <!-- chat() in validate_script.js -->
                 <div class="main-chat">
                    <form name="main-chat" class="form-chat-main">
                        <!--  data-href -> href on person  -->
                        <div class="chat-person" data-href="http://test">
                            <div class="chat-person-img">
                                <img src="images/person-img-1.png" alt="">
                            </div>
                            <div class="chat-person-name"><span>Анна</span> <span>Сидорова</span></div>
                        </div>
                        <div class="chat-form">
                            <textarea name="chat-text" id="" cols="30" rows="5" placeholder="Написать комментарий..." name="chat-person-text" ></textarea>
                            <button type="submit" class="btn btn-sub" disabled ><span>Отправить</span></button>
                        </div>
                    </form>
                </div>
                <!--  -->
                <div class="cloned-chat">
                    <form  name="item-chat" class="form-chat-main">
                        <div class="chat-person">
                            <div class="chat-person-img">
                                <img src="images/person-img-1.png" alt="">
                            </div>
                        </div>
                        <div class="chat-form">
                            <textarea name="chat-text" id="" cols="30" rows="5" placeholder="Написать комментарий..."></textarea>
                            <button type="submit" class="btn btn-sub" ><span>Отправить</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row middle-block">
            <div class="col-xs-12 chat-item-wrap">
                <div class="chat-item">
                    <div class="chat-person cfix">
                        <div class="chat-person-img">
                            <img src="images/person-img-2.png" alt="">
                        </div>
                        <div class="chat-person-detail ">
                            <div class="chat-person-name"><a href="http://test"><span>Алина</span> <span>Иванова</span></a></div>
                            <div class="chat-person-date">
                                <i class="fa fa-calendar"></i>
                                <span>30.01.2016 </span>
                                <i class="fa fa-clock-o"></i>
                                <span>13.54</span>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        Добрый день. Хорошее фото
                    </div>
                    <div class="block-button">
                        <div class="drop drop-share-block">
                            <div class="convert">
                                <i class="material-icons">more_vert</i>
                            </div>
                            <div class="hide-hipe share-block">
                                <ul>
                                    <li>
                                        <span  class="reply-post">
                                            <i class="material-icons">reply</i>
                                            <span>Ответить</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#" class="block-post">
                                            <i class="material-icons">block</i>
                                            <span>Заблокировать</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chat-item">
                    <div class="chat-person cfix">
                        <div class="chat-person-img">
                            <img src="images/person-img-1.png" alt="">
                        </div>
                        <div class="chat-person-detail ">
                            <div class="chat-person-name"><a href="http://test"><span>Анна</span> <span>Сидорова</span></a></div>
                            <div class="chat-person-date">
                                <i class="fa fa-calendar"></i>
                                <span>30.01.2016 </span>
                                <i class="fa fa-clock-o"></i>
                                <span>14.57</span>
                            </div>
                        </div>
                    </div>
                    <div class="text">
                        Действительно хорошие, и мероприятие было замечательное. Молодцы!! Так держать!! (:
                    </div>
                    <div class="block-button">
                        <div class="drop drop-share-block">
                            <div class="convert">
                                <i class="material-icons">more_vert</i>
                            </div>
                            <div class="hide-hipe share-block">
                                <ul>
                                    <li>
                                        <span class="reply-post">
                                            <i class="material-icons">reply</i>
                                            <span>Ответить</span>
                                        </span>
                                    </li>
                                    <li>
                                        <a href="#" class="block-post" >
                                            <i class="material-icons">block</i>
                                            <span>Заблокировать</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 2th lvl -->
                    <div class="chat-item">
                        <div class="chat-person cfix">
                            <div class="chat-person-img">
                                <img src="images/person-img-1.png" alt="">
                            </div>
                            <div class="chat-person-detail ">
                                <div class="chat-person-name"><a href="http://test"><span>Владислава </span> <span>Антонова</span></a></div>
                                <div class="chat-person-date">
                                    <i class="fa fa-calendar"></i>
                                    <span>30.01.2016 </span>
                                    <i class="fa fa-clock-o"></i>
                                    <span>14.57</span>

                                    <span class="reply-post">
                                        <i class="material-icons">reply</i>
                                        <span>Ответить</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <span>Анна,</span> Спасибо :)
                        </div>
                    </div>
                    <div class="chat-item">
                        <div class="chat-person cfix">
                            <div class="chat-person-img">
                                <img src="images/person-img-3.png" alt="">
                            </div>
                            <div class="chat-person-detail ">
                                <div class="chat-person-name"><a href="http://test"><span>Алевтина </span> <span>Федотова</span></a></div>
                                <div class="chat-person-date">
                                    <i class="fa fa-calendar"></i>
                                    <span>31.01.2016 </span>
                                    <i class="fa fa-clock-o"></i>
                                    <span>10.58</span>

                                    <span class="reply-post">
                                        <i class="material-icons">reply</i>
                                        <span>Ответить</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <span>Анна,</span> Спасибо вам за помощь!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>