<div class="chat-book">
    <div class="container">
        <div class="row top-block">
            <div class="col-sm-10 col-xs-12">
                <div class="main-chat">
                    <form action="" name="main-chat" >
                        <div class="chat-person">
                            <div class="chat-person-img">
                                <img src="images/person-img-1.png" alt="">
                            </div>
                            <div class="chat-person-name">Анна Сидорова</div>
                        </div>
                        <div class="chat-form">
                            <textarea name="" id="" cols="30" rows="5" placeholder="Написать комментарий..." name="chat-person-text"></textarea>
                            <button type="submit" class="btn btn-sub"><span>Отправить</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row middle-block">
            <div class="col-xs-12">
                <div class="chat-item">
                    <div class="chat-person">
                        <div class="chat-person-img">
                            <img src="images/person-img-1.png" alt="">
                        </div>
                        <div class="chat-person-name">Анна Сидорова</div>
                        <div class="chat-person-date">
                            <i class="fa fa-calendar"></i>
                            <span>30.01.2016 </span>
                            <i class="fa fa-clock-o"></i>
                            <span>13.54</span>
                        </div>
                    </div>
                    <div class="block-button">
                        <div class="drop drop-share-block">
                            <div class="convert">
                                <i class="material-icons">more_vert</i>
                            </div>
                            <div class="hide-hipe share-block">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="material-icons">reply</i>
                                            <span>Ответить</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="material-icons">block</i>
                                            <span>Заблокировать</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>