<div class="chat-book">
    <div class="container">
        <div class="row top-block">
            <div class="col-sm-10 col-xs-12">
                <div class="main-chat">
                    <form action="" name="main-chat" >
                        <div class="chat-person">
                            <div class="chat-person-img">
                                <img src="images/person-img-1.png" alt="">
                            </div>
                            <div class="chat-person-name">Анна Сидорова</div>
                        </div>
                        <div class="chat-form">
                            <textarea name="" id="" cols="30" rows="5" placeholder="Написать комментарий..." name="chat-person-text"></textarea>
                            <button type="submit" class="btn btn-sub"><span>Отправить</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>