<div class="wrap-content">
    <div class="container">
        <div class="row">
            <div class="content-box cfix">
                <div class="col-lg-6">
                    <div class="face-place-doc">
                        <div class="foto-face">
                            <div class="convert-foto">
                                <img src="images/big-face.jpg" alt="">
                            </div>
                        </div>
                        <div class="button-row">
                            <a href="#" class="button-spec">
                                <span>Написать преподавателю</span>
                            </a>
                        </div>
                        <div class="soc-blok">
                            <div class="title-soc">Написать в социальных сетях</div>
                            <div class="row-soc-slice">
                                <a class="soc fb">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="soc ok">
                                    <i class="fa fa-odnoklassniki"></i>
                                </a>
                                <a class="soc vk">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a class="soc tw">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="soc gp">
                                    <i class="fa fa-google-plus fa-xs"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="description-doc">
                        <div class="ctext">
                            <p>Уважаемые посетители! Вы зашли на персональный сайт</p>
                            <h2>Ларьковой Евгении Александровны</h2>
                            <p>инструктора по физической культуре МКДОУ «Детский сад "Улыбка" п.Бабынино Бабынинского района Калужской области.</p>
                            <ul>Немного о себе:
                                <li><i class="fa fa-check"></i> Образование - высшее. КГПУ им. К.Э. Циолковского. г.Калуга. </li>
                                <li> <i class="fa fa-check"></i> Учитель русского языка и литературы, 2006 г.</li>
                                <li> <i class="fa fa-check"></i> Общий стаж работы - с 2007 г.</li>
                                <li> <i class="fa fa-check"></i> Стаж работы в должности «Инструктор по физической культуре» — с 2007 г.</li>
                                <li> <i class="fa fa-check"></i> Квалификационная категория - Высшая.</li>
                                <li> <i class="fa fa-check"></i> Образование - высшее. КГПУ им. К.Э. Циолковского. г.Калуга. </li>
                                <li> <i class="fa fa-check"></i> Учитель русского языка и литературы, 2006 г.</li>
                                <li> <i class="fa fa-check"></i> Общий стаж работы - с 2007 г.</li>
                                <li> <i class="fa fa-check"></i> Стаж работы в должности «Инструктор по физической культуре» — с 2007 г.</li>
                                <li> <i class="fa fa-check"></i> Квалификационная категория - Высшая.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
