<div class="doc-list-wrap">
    <div class="container">
        <div class="row doc-list">
            <div class="list-block col-lg-12">
                <ul class="doc-list-items">
                    <li>
                        <div class="naming">
                            <div class="type-item">
                                <img src="images/doc.png" alt="" />
                            </div>
                            <div class="name-item">
                                <h5>«Компоненты здорового образа жизни»</h5>
                                <p>Памятка родителям ЗОЖ</p>
                            </div>
                        </div>
                        <div class="block-button">
                            <div class="drop drop-soc-block">
                                <div class="convert">
                                    <i class="material-icons">share</i>
                                </div>

                                <div class="hide-hipe soc-blok">
                                    <div class="title-soc">Поделиться в социальных сетях</div>
                                    <ul>
                                        <li>
                                            <a href="" class="soc fb">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc ok">
                                                <i class="fa fa-odnoklassniki"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc vk">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc tw">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc gp">
                                                <i class="fa fa-google-plus fa-xs"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="" class="drop">
                                <div class="convert">
                                    <i class="material-icons">poll</i>
                                </div>
                            </a>
                            <div class="drop drop-share-block">
                                <div class="convert">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <div class="hide-hipe share-block">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">remove_red_eye</i>
                                                <span>Посмотреть</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">insert_comment</i>
                                                <span>Запросить права у автора</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">file_download</i>
                                                <span>Скачать</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">send</i>
                                                <span>Отправить на e-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">poll</i>
                                                <span>Стастистика</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">share</i>
                                                <span>Поделиться</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">print</i>
                                                <span>Распечатать</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

            </div>
        </div>
    </div>
</div>