<div class="doc-list-wrap">
    <div class="container">
        <div class="row doc-list">
            <div class="list-block col-lg-12">
                <ul class="doc-list-items universal-list">
                    <li>
                        <div class="naming">
                            <div class="type-item">
                                <div class="convert">
                                    <img src="images/doc.png" alt="" />
                                </div>
                            </div>
                            <div class="name-item">
                                <h5>«Компоненты здорового образа жизни»</h5>
                                <p>Памятка родителям ЗОЖ</p>
                            </div>
                        </div>
                        <div class="block-button">
                            <div class="drop drop-soc-block">
                                <div class="convert">
                                    <i class="material-icons">share</i>
                                </div>

                                <div class="hide-hipe soc-blok">
                                    <div class="title-soc">Поделиться в социальных сетях</div>
                                    <ul>
                                        <li>
                                            <a href="" class="soc fb">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc ok">
                                                <i class="fa fa-odnoklassniki"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc vk">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc tw">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc gp">
                                                <i class="fa fa-google-plus fa-xs"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#statistic" class="drop fancybox-form">
                                <div class="convert">
                                    <i class="material-icons">poll</i>
                                </div>
                            </a>
                            <div class="drop drop-share-block">
                                <div class="convert">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <div class="hide-hipe share-block">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">remove_red_eye</i>
                                                <span>Посмотреть</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">insert_comment</i>
                                                <span>Запросить&nbspправа&nbspу&nbspавтора</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">file_download</i>
                                                <span>Скачать</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">send</i>
                                                <span>Отправить&nbspна&nbspe-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#statistic" class="fancybox-form">
                                                <i class="material-icons">poll</i>
                                                <span>Стастистика</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">share</i>
                                                <span>Поделиться</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">print</i>
                                                <span>Распечатать</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="naming">
                            <div class="type-item">
                                <div class="convert">
                                    <img src="images/pdf.png" alt="" />
                                </div>
                            </div>
                            <div class="name-item">
                                <h5>«Место физкультуры в вашей семье» </h5>
                                <p>Анкетирование</p>
                            </div>
                        </div>
                        <div class="block-button">
                            <div class="drop drop-soc-block">
                                <div class="convert">
                                    <i class="material-icons">share</i>
                                </div>

                                <div class="hide-hipe soc-blok">
                                    <div class="title-soc">Поделиться в социальных сетях</div>
                                    <ul>
                                        <li>
                                            <a href="" class="soc fb">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc ok">
                                                <i class="fa fa-odnoklassniki"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc vk">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc tw">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc gp">
                                                <i class="fa fa-google-plus fa-xs"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#statistic" class="drop fancybox-form">
                                <div class="convert">
                                    <i class="material-icons">poll</i>
                                </div>
                            </a>
                            <div class="drop drop-share-block">
                                <div class="convert">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <div class="hide-hipe share-block">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">remove_red_eye</i>
                                                <span>Посмотреть</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">insert_comment</i>
                                                <span>Запросить&nbspправа&nbspу&nbspавтора</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">file_download</i>
                                                <span>Скачать</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">send</i>
                                                <span>Отправить&nbspна&nbspe-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#statistic" class="fancybox-form">
                                                <i class="material-icons">poll</i>
                                                <span>Стастистика</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">share</i>
                                                <span>Поделиться</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">print</i>
                                                <span>Распечатать</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="naming">
                            <div class="type-item">
                                <div class="convert">
                                    <img src="images/jpg.png" alt="" />
                                </div>
                            </div>
                            <div class="name-item">
                                <h5>«Календарно-тематический план в средней группе» </h5>
                            </div>
                        </div>
                        <div class="block-button">
                            <div class="drop drop-soc-block">
                                <div class="convert">
                                    <i class="material-icons">share</i>
                                </div>

                                <div class="hide-hipe soc-blok">
                                    <div class="title-soc">Поделиться в социальных сетях</div>
                                    <ul>
                                        <li>
                                            <a href="" class="soc fb">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc ok">
                                                <i class="fa fa-odnoklassniki"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc vk">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc tw">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc gp">
                                                <i class="fa fa-google-plus fa-xs"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#statistic" class="drop fancybox-form">
                                <div class="convert">
                                    <i class="material-icons">poll</i>
                                </div>
                            </a>
                            <div class="drop drop-share-block">
                                <div class="convert">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <div class="hide-hipe share-block">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">remove_red_eye</i>
                                                <span>Посмотреть</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">insert_comment</i>
                                                <span>Запросить&nbspправа&nbspу&nbspавтора</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">file_download</i>
                                                <span>Скачать</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">send</i>
                                                <span>Отправить&nbspна&nbspe-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#statistic" class="fancybox-form">
                                                <i class="material-icons">poll</i>
                                                <span>Стастистика</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">share</i>
                                                <span>Поделиться</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">print</i>
                                                <span>Распечатать</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="naming">
                            <div class="type-item">
                                <div class="convert">
                                    <img src="images/jpg.png" alt="" />
                                </div>
                            </div>
                            <div class="name-item">
                                <h5>«Консультация для родителей: «Отправляемся в поход»</h5>
                                <p>Памятка родителям ЗОЖ Туристский поход-прогулка – эффективная форма работы дошкольного образовательного учреждения и семьи по воспитанию здорового ребенка</p>
                            </div>
                        </div>
                        <div class="block-button">
                            <div class="drop drop-soc-block">
                                <div class="convert">
                                    <i class="material-icons">share</i>
                                </div>

                                <div class="hide-hipe soc-blok">
                                    <div class="title-soc">Поделиться в социальных сетях</div>
                                    <ul>
                                        <li>
                                            <a href="" class="soc fb">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc ok">
                                                <i class="fa fa-odnoklassniki"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc vk">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc tw">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc gp">
                                                <i class="fa fa-google-plus fa-xs"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#statistic" class="drop fancybox-form">
                                <div class="convert">
                                    <i class="material-icons">poll</i>
                                </div>
                            </a>
                            <div class="drop drop-share-block">
                                <div class="convert">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <div class="hide-hipe share-block">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">remove_red_eye</i>
                                                <span>Посмотреть</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">insert_comment</i>
                                                <span>Запросить&nbspправа&nbspу&nbspавтора</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">file_download</i>
                                                <span>Скачать</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">send</i>
                                                <span>Отправить&nbspна&nbspe-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#statistic" class="fancybox-form">
                                                <i class="material-icons">poll</i>
                                                <span>Стастистика</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">share</i>
                                                <span>Поделиться</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">print</i>
                                                <span>Распечатать</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="naming">
                            <div class="type-item">
                                <div class="convert">
                                    <img src="images/doc.png" alt="" />
                                </div>
                            </div>
                            <div class="name-item">
                                <h5>«Перспективный план проведения активного отдыха и дней здоровья в дошкольном учреждении»</h5>
                            </div>
                        </div>
                        <div class="block-button">
                            <div class="drop drop-soc-block">
                                <div class="convert">
                                    <i class="material-icons">share</i>
                                </div>

                                <div class="hide-hipe soc-blok">
                                    <div class="title-soc">Поделиться в социальных сетях</div>
                                    <ul>
                                        <li>
                                            <a href="" class="soc fb">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc ok">
                                                <i class="fa fa-odnoklassniki"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc vk">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc tw">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc gp">
                                                <i class="fa fa-google-plus fa-xs"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#statistic" class="drop fancybox-form">
                                <div class="convert">
                                    <i class="material-icons">poll</i>
                                </div>
                            </a>
                            <div class="drop drop-share-block">
                                <div class="convert">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <div class="hide-hipe share-block">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">remove_red_eye</i>
                                                <span>Посмотреть</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">insert_comment</i>
                                                <span>Запросить&nbspправа&nbspу&nbspавтора</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">file_download</i>
                                                <span>Скачать</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">send</i>
                                                <span>Отправить&nbspна&nbspe-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#statistic" class="fancybox-form">
                                                <i class="material-icons">poll</i>
                                                <span>Стастистика</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">share</i>
                                                <span>Поделиться</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">print</i>
                                                <span>Распечатать</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="naming">
                            <div class="type-item">
                                <div class="convert">
                                    <img src="images/doc.png" alt="" />
                                </div>
                            </div>
                            <div class="name-item">
                                <h5>«Перспективный план по работе с родителями в средней группе»</h5>
                            </div>
                        </div>
                        <div class="block-button">
                            <div class="drop drop-soc-block">
                                <div class="convert">
                                    <i class="material-icons">share</i>
                                </div>

                                <div class="hide-hipe soc-blok">
                                    <div class="title-soc">Поделиться в социальных сетях</div>
                                    <ul>
                                        <li>
                                            <a href="" class="soc fb">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc ok">
                                                <i class="fa fa-odnoklassniki"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc vk">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc tw">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc gp">
                                                <i class="fa fa-google-plus fa-xs"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#statistic" class="drop fancybox-form">
                                <div class="convert">
                                    <i class="material-icons">poll</i>
                                </div>
                            </a>
                            <div class="drop drop-share-block">
                                <div class="convert">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <div class="hide-hipe share-block">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">remove_red_eye</i>
                                                <span>Посмотреть</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">insert_comment</i>
                                                <span>Запросить&nbspправа&nbspу&nbspавтора</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">file_download</i>
                                                <span>Скачать</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">send</i>
                                                <span>Отправить&nbspна&nbspe-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#statistic" class="fancybox-form">
                                                <i class="material-icons">poll</i>
                                                <span>Стастистика</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">share</i>
                                                <span>Поделиться</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">print</i>
                                                <span>Распечатать</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="naming">
                            <div class="type-item">
                                <div class="convert">
                                    <img src="images/jpg.png" alt="" />
                                </div>
                            </div>
                            <div class="name-item">
                                <h5>«Походные песни, частушки, речёвки»</h5>
                            </div>
                        </div>
                        <div class="block-button">
                            <div class="drop drop-soc-block">
                                <div class="convert">
                                    <i class="material-icons">share</i>
                                </div>

                                <div class="hide-hipe soc-blok">
                                    <div class="title-soc">Поделиться в социальных сетях</div>
                                    <ul>
                                        <li>
                                            <a href="" class="soc fb">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc ok">
                                                <i class="fa fa-odnoklassniki"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc vk">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc tw">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc gp">
                                                <i class="fa fa-google-plus fa-xs"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#statistic" class="drop fancybox-form">
                                <div class="convert">
                                    <i class="material-icons">poll</i>
                                </div>
                            </a>
                            <div class="drop drop-share-block">
                                <div class="convert">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <div class="hide-hipe share-block">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">remove_red_eye</i>
                                                <span>Посмотреть</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">insert_comment</i>
                                                <span>Запросить&nbspправа&nbspу&nbspавтора</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">file_download</i>
                                                <span>Скачать</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">send</i>
                                                <span>Отправить&nbspна&nbspe-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#statistic" class="fancybox-form">
                                                <i class="material-icons">poll</i>
                                                <span>Стастистика</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">share</i>
                                                <span>Поделиться</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">print</i>
                                                <span>Распечатать</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="naming">
                            <div class="type-item">
                                <div class="convert">
                                    <img src="images/doc.png" alt="" />
                                </div>
                            </div>
                            <div class="name-item">
                                <h5>«Дыхательные упражнения для детей младшего и среднего дошкольного возраста.»</h5>
                            </div>
                        </div>
                        <div class="block-button">
                            <div class="drop drop-soc-block">
                                <div class="convert">
                                    <i class="material-icons">share</i>
                                </div>

                                <div class="hide-hipe soc-blok">
                                    <div class="title-soc">Поделиться в социальных сетях</div>
                                    <ul>
                                        <li>
                                            <a href="" class="soc fb">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc ok">
                                                <i class="fa fa-odnoklassniki"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc vk">
                                                <i class="fa fa-vk"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc tw">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="" class="soc gp">
                                                <i class="fa fa-google-plus fa-xs"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <a href="#statistic" class="drop fancybox-form">
                                <div class="convert">
                                    <i class="material-icons">poll</i>
                                </div>
                            </a>
                            <div class="drop drop-share-block">
                                <div class="convert">
                                    <i class="material-icons">more_vert</i>
                                </div>
                                <div class="hide-hipe share-block">
                                    <ul>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">remove_red_eye</i>
                                                <span>Посмотреть</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">insert_comment</i>
                                                <span>Запросить&nbspправа&nbspу&nbspавтора</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">file_download</i>
                                                <span>Скачать</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">send</i>
                                                <span>Отправить&nbspна&nbspe-mail</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#statistic" class="fancybox-form">
                                                <i class="material-icons">poll</i>
                                                <span>Стастистика</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">share</i>
                                                <span>Поделиться</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <i class="material-icons">print</i>
                                                <span>Распечатать</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>