<div class="error-page">
    <div class="container">
        <div class="error-page-wrap">

            <div class="error-img">
                <img src="images/empty-png.png" alt="" />
            </div>

            <div class="title">Здесь пока нет файлов</div>
            <div class="text">
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.</p>
                <p><a href="#">Подробнее....</a></p>
            </div>

        </div>
    </div>
</div>