<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="text-block">
                <p> <span>Внимание!</span> В соответствии с Законом об авторском праве перепечатка, копирование, использование авторских материалов сайта целиком или по частям разрешается только с письменного согласия автора или с указанием Ф.И.О автора и размещением активной ссылки на сайт: <a href="#">http:// </a> </p>
            </div>
        </div>
    </div>

    <div class="footer-tab">
        <div class="container">
            <div class="row classic-box">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="#" class="logio-tab">
                        <span>
                            <img src="images/fot-logo.png" alt="" />
                            2010 - 2016 ООО "СофтКБ"
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="#predlog" class="write-us fancybox-form">
                        <span>Написать нам</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="callto:89122543388" class="phone">
                        <span>
                            <img src="images/phone.png" alt="" />
                            8 (912) 254-33-88
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="mailto:info@mail.ru" class="mail">
                        <span>
                            <img src="images/mail.png" alt="" />
                            info@mail.ru
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
