<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="text-block">
                <p> <span>Внимание!</span> В соответствии с Законом об авторском праве перепечатка, копирование, использование авторских материалов сайта целиком или по частям разрешается только с письменного согласия автора или с указанием Ф.И.О автора и размещением активной ссылки на сайт: <a href="#">http:// </a> </p>
            </div>
        </div>
    </div>

    <div class="footer-tab">
        <div class="container">
            <div class="row classic-box">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="#predlog-zalog" class="logio-tab fancybox-form">
                        <span>
                            <img src="images/fot-logo.png" alt="" />
                            2010 - 2016 ООО "СофтКБ"
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="#predlog" class="write-us fancybox-form">
                        <span>Написать нам</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="callto:89122543388" class="phone">
                        <span>
                            <img src="images/phone.png" alt="" />
                            8 (912) 254-33-88
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="mailto:info@mail.ru" class="mail">
                        <span>
                            <img src="images/mail.png" alt="" />
                            info@mail.ru
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->

<script>

var imagesGroups=[
    [
        {
            src:'images/slider-item1.jpg',
            type:'jpg',
            name:'name1'
        },
        {
            src:'images/slider-item2.jpg',
            type:'jpg',
            name:'name2'
        },
        {
            src:'images/slider-item3.jpg',
            type:'jpg',
            name:'name3'
        },
        {
            src:'images/slider-item4.jpg',
            type:'jpg',
            name:'name4'
        },
        {
            src:'images/slider-item5.jpg',
            type:'jpg',
            name:'name5'
        },
        {
            src:'images/slider-item6.jpg',
            type:'jpg',
            name:'name6'
        }
    ],
    [
        {
            src:'images/dip1.jpg',
            type:'jpg',
            name:'name11'
        },
        {
            src:'images/dip2.jpg',
            type:'jpg',
            name:'name12'
        },
        {
            src:'images/dip3.jpg',
            type:'jpg',
            name:'name13'
        },
        {
            src:'images/dip4.jpg',
            type:'jpg',
            name:'name14'
        },
        {
            src:'images/dip5.jpg',
            type:'jpg',
            name:'name15'
        },
        {
            src:'images/dip6.jpg',
            type:'jpg',
            name:'name16'
        },
        {
            src:'images/dip7.jpg',
            type:'jpg',
            name:'name17'
        },
        {
            src:'images/dip8.jpg',
            type:'jpg',
            name:'name18'
        }
    ],
    [
        {
            src:'images/dip1.jpg',
            type:'jpg',
            name:'name21'
        },
        {
            src:'images/dip1.jpg',
            type:'jpg',
            name:'name22'
        },
        {
            src:'images/dip1.jpg',
            type:'jpg',
            name:'name23'
        }
    ],
    [
        {
            src:'images/dip1.jpg',
            type:'jpg',
            name:'name31'
        },
        {
            src:'images/dip1.jpg',
            type:'jpg',
            name:'name32'
        },
        {
            src:'images/dip1.jpg',
            type:'jpg',
            name:'name33'
        }
    ],
    [
        {
            src:'images/dip1.jpg',
            type:'jpg',
            name:'name41'
        },
        {
            src:'images/dip1.jpg',
            type:'jpg',
            name:'name42'
        }
    ]
]

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
