<div class="fotoblock">
    <div class="container">
        <div class="row">
            <div class="fotogallery-title">2016 год</div>
            <div class="fotogallery-container">
                <div class="fotogallery-item">
                    <a href="#">
                        <div class="img">
                            <img src="images/fotogallery-img1.jpg" alt="" />
                        </div>
                        <div class="content">
                            <div class="text-top">
                                <span class="date">Опубликовано: 29.02.2016 г.</span>
                                <span class="images-value">157 фотографий</span>
                            </div>
                            <div class="text-bottom">Физкультурный праздник на День защитника Отечества в детском саду</div>
                        </div>
                    </a>
                </div>
                <div class="fotogallery-item">
                    <a href="#">
                        <div class="img">
                            <img src="images/fotogallery-img2.jpg" alt="" />
                        </div>
                        <div class="content">
                            <div class="text-top">
                                <span class="date">Опубликовано: 09.06.2016 г.</span>
                                <span class="images-value">157 фотографий</span>
                            </div>
                            <div class="text-bottom">Наши походы</div>
                        </div>
                    </a>
                </div>
                <div class="fotogallery-item">
                    <a href="#">
                        <div class="img">
                            <img src="images/fotogallery-img1.jpg" alt="" />
                        </div>
                        <div class="content">
                            <div class="text-top">
                                <span class="date">Опубликовано: 29.02.2016 г.</span>
                                <span class="images-value">157 фотографий</span>
                            </div>
                            <div class="text-bottom">Физкультурный праздник на День защитника Отечества в детском саду</div>
                        </div>
                    </a>
                </div>
                <div class="fotogallery-item">
                    <a href="#">
                        <div class="img">
                            <img src="images/fotogallery-img2.jpg" alt="" />
                        </div>
                        <div class="content">
                            <div class="text-top">
                                <span class="date">Опубликовано: 09.06.2016 г.</span>
                                <span class="images-value">157 фотографий</span>
                            </div>
                            <div class="text-bottom">Наши походы</div>
                        </div>
                    </a>
                </div>
                <div class="fotogallery-item">
                    <a href="#">
                        <div class="img">
                            <img src="images/fotogallery-img1.jpg" alt="" />
                        </div>
                        <div class="content">
                            <div class="text-top">
                                <span class="date">Опубликовано: 29.02.2016 г.</span>
                                <span class="images-value">157 фотографий</span>
                            </div>
                            <div class="text-bottom">Физкультурный праздник на День защитника Отечества в детском саду</div>
                        </div>
                    </a>
                </div>
                <div class="fotogallery-item">
                    <a href="#">
                        <div class="img">
                            <img src="images/fotogallery-img2.jpg" alt="" />
                        </div>
                        <div class="content">
                            <div class="text-top">
                                <span class="date">Опубликовано: 09.06.2016 г.</span>
                                <span class="images-value">157 фотографий</span>
                            </div>
                            <div class="text-bottom">Наши походы</div>
                        </div>
                    </a>
                </div>
                <div class="fotogallery-item">
                    <a href="#">
                        <div class="img">
                            <img src="images/fotogallery-img1.jpg" alt="" />
                        </div>
                        <div class="content">
                            <div class="text-top">
                                <span class="date">Опубликовано: 29.02.2016 г.</span>
                                <span class="images-value">157 фотографий</span>
                            </div>
                            <div class="text-bottom">Физкультурный праздник на День защитника Отечества в детском саду</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="fotogallery-title">2015 год</div>
            <div class="fotogallery-container">
                <div class="fotogallery-item">
                    <a href="#">
                        <div class="img">
                            <img src="images/fotogallery-img1.jpg" alt="" />
                        </div>
                        <div class="content">
                            <div class="text-top">
                                <span class="date">Опубликовано: 29.02.2016 г.</span>
                                <span class="images-value">157 фотографий</span>
                            </div>
                            <div class="text-bottom">Физкультурный праздник на День защитника Отечества в детском саду</div>
                        </div>
                    </a>
                </div>
                <div class="fotogallery-item">
                    <a href="#">
                        <div class="img">
                            <img src="images/fotogallery-img2.jpg" alt="" />
                        </div>
                        <div class="content">
                            <div class="text-top">
                                <span class="date">Опубликовано: 09.06.2016 г.</span>
                                <span class="images-value">157 фотографий</span>
                            </div>
                            <div class="text-bottom">Наши походы</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>