<!-- HEADER -->
<header class="header">
    <div class="main-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-6 header-left">
                    <div class="content-block">
                        <a href="#">
                            <div class="logo">

                                <div class="logo-img">
                                    <img src="images/logo.png" alt="">
                                </div>
                                <div class="logo-text">
                                    <p><span> KinderEdu</span> <br/> Удобство, понятное и ребенку</p>
                                </div>

                            </div>
                        </a>
                    </div>
                    <div class="content-block">
                        <a href="#">
                            <div class="doctor-naming">

                                    <div class="user-face">
                                        <div class="convert-img">
                                            <img src="images/small-face.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="user-naming">
                                        <div class="user-name">Иванова А.</div>
                                        <div class="user-specialization">Воспитатель</div>
                                    </div>

                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-7 col-md-6 header-map">
                    <div class="top-menu">
                        <ul>
                            <li class="active">
                                <a href="#">Главная </a>
                            </li>
                            <li>
                                <a href="#">Карта сайта</a>
                            </li>
                            <li>
                                <a href="#">Гостевая книга</a>
                            </li>
                            <li>
                                <a href="#">Статьи</a>
                            </li>
                            <li>
                                <a href="#">Обратная связь</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <div class="row">

                <div class="header-sendwich-wrap">
                    <span class="header-sedwich">
                        <span></span>
                    </span>
                </div>

                <div class="main-menu">
                    <nav>
                        <ul>
                            <li>
                                <a href="#add-material" class="fancybox-form"> Нормативка</a>
                            </li>
                            <li>
                                <a href="#add-document" class="fancybox-form">ФГОС ДО</a>
                            </li>
                            <li>
                                <a href="#change-document" class="fancybox-form">Копилка</a>
                            </li>
                            <li>
                                <a href="#">Инструктору ФИЗО</a>
                            </li>
                            <li>
                                <a href="#">Коллегам</a>
                            </li>
                            <li>
                                <a href="#">увлечение</a>
                            </li>
                            <li>
                                <a href="#">достижения</a>
                            </li>
                            <li>
                                <a href="#">Фотоальбомы</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</header>
<!-- /HEADER -->

