<div class="hidden-block">

    <div id="call-back">
        <div class="call-back-wrap">
            <div class="pop-title"><span>Обратная связь</span></div>
            <div class="pop-subtitle">
                <p>Мероприятия.</p>
                <p>Перспективный план активного отдыха и дней здоровья</p>
            </div>
            <form action="ajax.php" name="" class="call-back-form">
                <div class="pop-mbox">

                    <div class="form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="ФИО*">
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="form_input">
                            <input type="email" name="email" placeholder="Ваш e-mail*" required="required" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                        </div>
                    </div>
                    <div class="form_row txt">
                        <p>в случае, если укажите Ваш номер телефона, с Вами оперативно свяжется автор и Вы сможете быстро обсудить все вопросы по рзмещенному материалу</p>
                    </div>
                </div>
                <div class="all-we-need-is-love"><p>*Обязательные поля</p></div>
                <div class="pop-mbox buttons-row">
                    <button class="contact-submit">
                        <span>Отмена</span>
                    </button>
                    <button type="submit" class="contact-submit">
                        <span>Отправить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" name="" class="contact-form">
            <div class="contact-form-title">
                <h5>Lorem ipsum dolor.</h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Отправить заявку</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <div id="predlog">
        <form action="ajax.php" name="predlog" class="predlog-wrap">
            <div class="contact-form-title modal-title">
                <h5>Предложение в гостевую книгу</h5>
            </div>
            <div class="contact-form-row cfix modal-body">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="title-row">
                            <p>Комментарии:</p>
                            <b>Чтобы оставить комментарий, <a href="">авторизируйтесь</a> или <a href="">зарегистрируйте</a></b>
                        </div>
                        
                        <div class="form_input">
                            <textarea name="predlog-text" placeholder="Написать комментарий..."></textarea>
                            <p>*Обязательные поля</p>
                            <div class="error-field"> 
                                <i class="material-icons">error</i> 
                                <span class="error-massage">Здесь будет блок ошибки</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row-button cfix modal-footer">
                <div class="contact-form-item">
                    <div  class="contact-submit">
                        <a href="">
                            <span>Отмена</span>
                        </a>                        
                    </div>
                </div>
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Опубликовать</span>
                    </button>
                </div>                
            </div>
        </form>
    </div>
    <div id="predlog-zalog">
        <form action="ajax.php" name="predlog" class="predlog-wrap">
            <div class="contact-form-title modal-title">
                <h5>Предложение в гостевую книгу</h5>
            </div>
            <div class="contact-form-row cfix modal-body">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="title-login">
                            <div class="conteiner">
                                <div class="convert">
                                    <img src="images/person-img-1.png" alt="">
                                </div>                                
                            </div>
                            <div class="conteiner">
                                <div class="name-person">Анна Сидорова</div>
                            </div>                            
                        </div>
                        
                        <div class="form_input">
                            <textarea name="predlog-text" placeholder="Написать комментарий..."></textarea>
                            <p>*Обязательные поля</p>
                            <div class="error-field"> 
                                <i class="material-icons">error</i> 
                                <span class="error-massage">Здесь будет блок ошибки</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row-button cfix modal-footer">
                <div class="contact-form-item">
                    <div  class="contact-submit">
                        <a href="">
                            <span>Отмена</span>
                        </a>                        
                    </div>
                </div>
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Опубликовать</span>
                    </button>
                </div>                
            </div>
        </form>
    </div>

    //= modals-statistic.html

</div>