<div class="hidden-block">

    <div id="call-back">
        <div class="call-back-wrap">
            <div class="pop-title"><span>Обратная связь</span></div>
            <div class="pop-subtitle">
                <p>Мероприятия.</p>
                <p>Перспективный план активного отдыха и дней здоровья</p>
            </div>
            <form action="ajax.php" name="" class="call-back-form">
                <div class="pop-mbox">

                    <div class="form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="ФИО*">
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="form_input">
                            <input type="email" name="email" placeholder="Ваш e-mail*" required="required" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                        </div>
                    </div>
                    <div class="form_row txt">
                        <p>в случае, если укажите Ваш номер телефона, с Вами оперативно свяжется автор и Вы сможете быстро обсудить
                            все вопросы по рзмещенному материалу</p>
                    </div>
                </div>
                <div class="all-we-need-is-love">
                    <p>*Обязательные поля</p>
                </div>
                <div class="pop-mbox buttons-row">
                    <button class="contact-submit">
                        <span>Отмена</span>
                    </button>
                    <button type="submit" class="contact-submit">
                        <span>Отправить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="call_success">
        <div class="call-success">
            <div class="call_success">
                <div class="call-title">Спасибо за заявку!</div>
                <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
            </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" name="" class="contact-form">
            <div class="contact-form-title">
                <h5>Lorem ipsum dolor.</h5>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_name" required="required" value="" placeholder="Ваше Имя">
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="form_input">
                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш номер" class="tel-mask">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit" >
                        <span>Отправить заявку</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="predlog">
        <form action="ajax.php" name="predlog" class="predlog-wrap">
            <div class="contact-form-title modal-title">
                <h5>Предложение в гостевую книгу</h5>
            </div>
            <div class="contact-form-row cfix modal-body">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <div class="title-row">
                            <p>Комментарии:</p>
                            <b>Чтобы оставить комментарий, <a href="">авторизируйтесь</a> или <a href="">зарегистрируйте</a></b>
                        </div>

                        <div class="form_input">
                            <textarea name="predlog-text" placeholder="Написать комментарий..." required></textarea>
                            <p>*Обязательные поля</p>
                            <div class="error-field">
                                <i class="material-icons">error</i>
                                <span class="error-massage">Здесь будет блок ошибки</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row-button cfix modal-footer">
                <div class="contact-form-item">
                    <div class="contact-submit">
                        <div class="close-fancybox-please">
                            <span>Отмена</span>
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Опубликовать</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div id="predlog-zalog">
        <form action="ajax.php" name="predlog" class="predlog-wrap">
            <div class="contact-form-title modal-title">
                <h5>Предложение в гостевую книгу</h5>
            </div>
            <div class="contact-form-row cfix modal-body">
                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <a href="" class="title-login">
                            <div class="conteiner">
                                <div class="convert">
                                    <img src="images/person-img-1.png" alt="">
                                </div>
                            </div>
                            <div class="conteiner">
                                <div class="name-person">Анна Сидорова</div>
                            </div>
                        </a>

                        <div class="form_input">
                            <textarea name="predlog-text" placeholder="Написать комментарий..." required></textarea>
                            <p>*Обязательные поля</p>
                            <div class="error-field">
                                <i class="material-icons">error</i>
                                <span class="error-massage">Здесь будет блок ошибки</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form-row-button cfix modal-footer">
                <div class="contact-form-item">
                    <div class="contact-submit">
                        <div class="close-fancybox-please">
                            <span>Отмена</span>
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>Опубликовать</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div id="add-material" class="easy-popup-form">

        <div class="contact-form-title modal-title">
            <h5>Добавить материал</h5>
        </div>

        <div class="conteiner-list cfix modal-body">
            <div class="title-check">Выберите раздел</div>
            <ul>
                <li>
                    <a href="">
                        <span class="convert">
                            <img src="images/popli1.png" alt="">
                        </span>
                        <p>Документ</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="convert">
                            <img src="images/popli2.png" alt="">
                        </span>
                        <p>Фотографию</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="convert">
                            <img src="images/popli3.png" alt="">
                        </span>
                        <p>Запись в блоге</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="convert">
                            <img src="images/popli4.png" alt="">
                        </span>
                        <p>Статью</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="convert">
                            <img src="images/popli5.png" alt="">
                        </span>
                        <p>Увлечение</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="convert">
                            <img src="images/popli6.png" alt="">
                        </span>
                        <p>Материал в копилку</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="convert">
                            <img src="images/popli7.png" alt="">
                        </span>
                        <p>Предложение в гостевую книгу</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="convert">
                            <img src="images/popli8.png" alt="">
                        </span>
                        <p>Предложение в гостевую книгу</p>
                    </a>
                </li>

            </ul>
        </div>

        <div class="contact-form-row-button cfix modal-footer">
            <div class="contact-form-item">
                <div class="contact-submit ">
                    <div class="close-fancybox-please give-me-border">
                        <span>Отмена</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="add-document" class="easy-popup-form">
        <form action="ajax.php" name="add-document" class="add-new-document">
            <div class="contact-form-title modal-title">
                <h5>Добавить документ</h5>
            </div>
            
            <div class="modal-body east-contact-form">
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <div class="contact-form-item-input rover form_row">
                            <div class="form_input">
                                <select name="choose-category" class="pop-choose" required="required">
                                    <option value="" disabled selected hidden class="hide-placeholder">Выберите категорию </option>
                                    <option value="document">Документ</option>
                                    <option value="foto">Фотографию</option>
                                    <option value="zapis">Запись в блоге</option>
                                    <option value="dostizhenie">Достижение</option>
                                    <option value="stattya">Статью</option>
                                    <option value="yvlecheniya">Увлечение</option>
                                    <option value="material">Материал в копилку</option>
                                    <option value="predlozhenie">Предложение в гостевую книгу</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input rover-clone form_row">
                            <div class="form_input">
                                <input type="text" name="zagolovok" required="required" value="" placeholder="Введите заголовок*">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input spec-padd">
                                <textarea name="predlog-text" placeholder="Введите описание*" required></textarea>
                                <p>*Обязательные поля</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <label for="file-load" class="save-planet">
                                    <input type="file" id="file-load" name="file-load">
                                    <p>
                                        <i class="material-icons">attach_file</i>
                                        <span>Загрузить файл</span>
                                    </p>
                                    <div class="error-field">
                                        <i class="material-icons">error</i>
                                        <span class="error-massage">Здесь будет блок ошибки</span>
                                    </div>
                                    
                                </label>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="contact-form-row-button cfix modal-footer">
                <div class="contact-form-item">
                    <div class="contact-submit">
                        <div class="close-fancybox-please">
                            <span>Отмена</span>
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit" >
                        <span>Опубликовать</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
    
    
    <div id="zapros" class="easy-popup-form">
        <form action="ajax.php" name="zapros" class="zapros-send">
            <div class="contact-form-title modal-title modal-with-active">
                <h5>Запрос на авторство</h5>
            </div>
            
            <div class="modal-body east-contact-form">
                <div class="opis-row">
                    <div class="convert">
                        <img src="images/zapros.png" alt="">
                    </div>
                    <div class="opis">
                        <b>Введите ваш вопрос</b> 
                        <p>и преподаватель свяжется с вами в течение 24</p>
                    </div>
                </div>
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <div class="contact-form-item-input rover form_row">
                            <label for="tromb" class="placeholder-simplify">ФИО*</label>
                            <div class="form_input">
                                <input type="text" class="tromb" name="zagolovok" required="required" value="">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input rover form_row">
                            <label for="tromb" class="placeholder-simplify">Ваш e-mail*</label>
                            <div class="form_input">
                                <input type="email" class="tromb" name="zagolovok" required="required" value="">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item text-area-block">
                        <div class="contact-form-item-input rover form_row">
                            <label for="tromb" class="placeholder-simplify " >Введите ваш вопрос</label>
                            <div class="form_input">
                                <textarea name="predlog-text" class="tromb" required></textarea>
                                <p>*Обязательные поля</p>
                                <div class="error-field">
                                    <i class="material-icons">error</i>
                                    <span class="error-massage">Здесь будет блок ошибки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="contact-form-row-button cfix modal-footer">
                <div class="contact-form-item">
                    <div class="contact-submit">
                        <div class="close-fancybox-please">
                            <span>Отмена</span>
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit" >
                        <span>Опубликовать</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
    
    <div id="change-document" class="easy-popup-form">
        <form action="ajax.php" name="change-document" class="change-document">
            <div class="contact-form-title modal-title modal-with-active">
                <h5>Добавить документ <b>в ФГОС ДО</b></h5>
                <div class="status-link">
                    <div class="save">Опубликовано</div>
                    <div class="chernovik">Черновик</div>
                    <div class="publick">Сохранено</div>
                </div>
            </div>
            
            <div class="modal-body east-contact-form">
                <div class="contact-form-row cfix">
                    <div class="contact-form-item">
                        <div class="contact-form-item-input rover form_row">
                            <label for="tromb" class="placeholder-simplify" >Введите заголовок <span> Документа 2*</span> </label>
                            <div class="form_input">
                                <input type="text" class="tromb" name="zagolovok" required="required" value="">
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item text-area-block">
                        <div class="contact-form-item-input rover form_row">
                            <label for="tromb" class="placeholder-simplify placeholder-textarea " >Введите описание <span> Документа 2*</span> </label>
                            <div class="form_input">
                                <textarea name="predlog-text" class="tromb" required></textarea>
                                <p>*Обязательные поля</p>
                                <div class="error-field">
                                    <i class="material-icons">error</i>
                                    <span class="error-massage">Здесь будет блок ошибки</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-item">
                        <div class="contact-form-item-input form_row">
                            <div class="form_input">
                                <label for="file-load" class="save-planet">
                                    <input type="file" id="file-load" name="file-load" required="required" value="" >
                                    <p>
                                        <i class="material-icons">attach_file</i>
                                        <span>Загрузить файл</span>
                                    </p>
                                    <div class="error-field">
                                        <i class="material-icons">error</i>
                                        <span class="error-massage">Здесь будет блок ошибки</span>
                                    </div>
                                    
                                </label>                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="slider-row">
                    <div class="sliding-shift">
                        <div class="item active-item">
                            <div class="close-button-item"></div>
                            <div class="convert">
                                <div class="doc-type">
                                    <img src="images/typer1.jpg" alt="">
                                </div>
                                <div class="description-file">
                                    <div class="name"> Документ </div>
                                    <div class="size"> 2 158 Мб </div>
                                </div>
                            </div>
                            <div class="checker">
                                <label>
                                    <input type='checkbox'> Текст
                                </label>                                
                            </div>
                            <div class="progress-line"></div>
                        </div>

                        <div class="item">
                            <div class="convert">
                                <div class="doc-type">
                                    <img src="images/typer1.jpg" alt="">
                                </div>
                                <div class="description-file">
                                    <div class="name"> Документ </div>
                                    <div class="size"> 2 158 Мб </div>
                                </div>
                            </div>
                            <div class="checker"></div>
                        </div>
                        <div class="item">
                            <div class="convert">
                                <div class="doc-type">
                                    <img src="images/typer1.jpg" alt="">
                                </div>
                                <div class="description-file">
                                    <div class="name"> Документ </div>
                                    <div class="size"> 2 158 Мб </div>
                                </div>
                            </div>
                            <div class="checker"></div>
                        </div>
                        <div class="item">
                            <div class="convert">
                                <div class="doc-type">
                                    <img src="images/typer1.jpg" alt="">
                                </div>
                                <div class="description-file">
                                    <div class="name"> Документ </div>
                                    <div class="size"> 2 158 Мб </div>
                                </div>
                            </div>
                            <div class="checker"></div>
                        </div>
                    </div>                        
                </div>
            </div>
            
            <div class="contact-form-row-button cfix modal-footer">
                <div class="contact-form-item">
                    <div class="contact-submit">
                        <div class="close-fancybox-please">
                            <span>Отмена</span>
                        </div>
                    </div>
                </div>
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit" >
                        <span>Опубликовать</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
    
    //= modals-statistic.html

    //= modals-slider.html

</div>