<section class="items">
    <div class="container">
        <div class="row">
            <div class="item col-md-4 col-sm -12">
                <a href="#" class="item-align">
                    <div class="img">
                        <img src="images/item1.jpg" alt="">
                    </div>
                    <div class="txt">
                        <p>Для удобства навигации по сайту воспользуйтесь <span>«Картой сайта»</span></p>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm -12">
                <a href="#" class="item-align">
                    <div class="img">
                        <img src="images/item2.jpg" alt="">
                    </div>
                    <div class="txt">
                        <p>Все комментарии и отзывы пишите в <span>«Гостевую книгу»</span></p>
                    </div>
                </a>
            </div>
            <div class="item col-md-4 col-sm -12">
                <a href="#" class="item-align">
                    <div class="img">
                        <img src="images/item3.jpg" alt="">
                    </div>
                    <div class="txt">
                        <p>Свои комментарии, пожелания и вопросы присылайте на адрес <span>zhenya.pogorelova@mail.ru</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>