<div id="statistic">

    <div class="statistic">

        <div class="modal-title">

            <h5>Статистика <span>Лукачева В. Ю.</span></h5>

        </div>
        <div class="modal-body">

            <div class="svg">
                <svg viewbox="0 0 210 210">
                    <!-- <text class="svg-text" x=50% y=50% text-anchor="middle"></text> -->
                </svg>
            </div>

            <div class="info">
                <div class="info-wrap">
                    <div class="info-row">
                        <div class="info-color">
                            <span data-color="#788f9b"></span>
                        </div>
                        <div class="info-text">ФГОС ДО</div>
                        <div class="info-value" data-value=24>24%</div>
                    </div>
                    <div class="info-row">
                        <div class="info-color">
                            <span data-color="#e57373"></span>
                        </div>
                        <div class="info-text">Копилка</div>
                        <div class="info-value" data-value=3>3%</div>
                    </div>
                    <div class="info-row">
                        <div class="info-color">
                            <span data-color="#64bf37"></span>
                        </div>
                        <div class="info-text">Инструктору ФИЗО</div>
                        <div class="info-value" data-value=8>8%</div>
                    </div>
                    <div class="info-row">
                        <div class="info-color">
                            <span data-color="#aa00ff"></span>
                        </div>
                        <div class="info-text">Коллегам</div>
                        <div class="info-value" data-value=7>7%</div>
                    </div>
                    <div class="info-row">
                        <div class="info-color">
                            <span data-color="#512da7"></span>
                        </div>
                        <div class="info-text">Увлечение</div>
                        <div class="info-value" data-value=13>13%</div>
                    </div>
                    <div class="info-row">
                        <div class="info-color">
                            <span data-color="#01adc1"></span>
                        </div>
                        <div class="info-text">Достижения</div>
                        <div class="info-value" data-value=11>11%</div>
                    </div>
                    <div class="info-row">
                        <div class="info-color">
                            <span data-color="#d81a60"></span>
                        </div>
                        <div class="info-text">Фотоальбомы</div>
                        <div class="info-value" data-value=34>34%</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">

        </div>

    </div>

</div>