<div id="modals-slider">
    <div class="modals-slider">

        <div class="slider-top">

            <div class="slider-name">
                <div class="slider-type">
                    <img src="images/slider-type-jpg.png" alt="" />
                </div>
                <div class="slider-name-wrap"></div>
            </div>

            <div class="slider-center">
                <a href="#">
                    <img src="images/download-icon.png" alt="" />
                </a>
                <a href="#">
                    <img src="images/print-icon.png" alt="" />
                </a>
            </div>

            <div class="slider-right">
                <a href="#">
                    <img src="images/zoom-img.png" alt="" />
                </a>
            </div>

        </div>

        <div class="slider-body">
            <div class="slider-body-main">
                <!--
                <div class="slider-item" data-type="jpg" data-name='name1'>
                    <img src="images/slider-item1.jpg" alt="" />
                </div>
                <div class="slider-item" data-type="jpg" data-name='name2'>
                    <img src="images/slider-item2.jpg" alt="" />
                </div>
                <div class="slider-item" data-type="jpg" data-name='name3'>
                    <img src="images/slider-item3.jpg" alt="" />
                </div>
                <div class="slider-item" data-type="jpg" data-name='name4'>
                    <img src="images/slider-item4.jpg" alt="" />
                </div>
                <div class="slider-item" data-type="jpg" data-name='name5'>
                    <img src="images/slider-item5.jpg" alt="" />
                </div>
                <div class="slider-item" data-type="jpg" data-name='name6'>
                    <img src="images/slider-item6.jpg" alt="" />
                </div>
                -->
            </div>
            <div class="slider-body-footer">
                <a href="#" class="toggle-small-slider">
                    <img src="images/toggle-small-slider.png" alt="" />
                </a>
                <span class="slider-num"></span>
            </div>
        </div>

        <div class="slider-bottom">
            <!--
            <div class="slider-item" data-type="jpg" data-name='name1'>
                <img src="images/slider-item1.jpg" alt="" />
            </div>
            <div class="slider-item" data-type="jpg" data-name='name2'>
                <img src="images/slider-item2.jpg" alt="" />
            </div>
            <div class="slider-item" data-type="jpg" data-name='name3'>
                <img src="images/slider-item3.jpg" alt="" />
            </div>
            <div class="slider-item" data-type="jpg" data-name='name4'>
                <img src="images/slider-item4.jpg" alt="" />
            </div>
            <div class="slider-item" data-type="jpg" data-name='name5'>
                <img src="images/slider-item5.jpg" alt="" />
            </div>
            <div class="slider-item" data-type="jpg" data-name='name6'>
                <img src="images/slider-item6.jpg" alt="" />
            </div>
            -->
        </div>

    </div>
</div>