<div class="search-row">
    <div class="container search-row-wrap">
        <div class="row">
            <form>

                <div class="search-input">
                    <input type="text" name="search_input" placeholder="Поиск" />
                </div>

                <div class="search-submit">

                    <button type="submit" class="submit-blue-button">
                        <i class="material-icons">youtube_searched_for</i>
                    </button>

                </div>

            </form>
        </div>
    </div>
</div>