<div class="single-items">
    <div class="container">
        <div class="row">
            <div class="single-items-wrap">
                <div class="single-item-wrap">

                    <a href="#">
                        <div class="img">
                            <img src="images/single-item-img1.jpg" alt="" />
                        </div>
                        <div class="text">

                            <div class="text-body">

                                <div class="text-top">
                                    <h6>Что такое Lorem Ipsum</h6>
                                </div>
                                <div class="text-main cut-text" data-cut="62">Lorem Ipsum - это текст-"рыба", часто используемый в печати часто используемый в печати</div>

                            </div>

                            <div class="text-bottom">
                                <div class="user">

                                    <span class="user-img">
                                        <img src="images/user-foto.jpg" alt="" />
                                    </span>
                                    <span class="user-name">Алина Иванова</span>

                                </div>
                                <div class="singularity">
                                    <span class="date">30.01.2016</span>
                                    <span class="time">13.54</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="single-item-wrap">

                    <a href="#">

                        <div class="img">
                            <img src="images/single-item-img2.jpg" alt="" />
                        </div>
                        <div class="text">

                            <div class="text-body">

                                <div class="text-top">
                                    <h6>Что такое Lorem Ipsum</h6>
                                </div>
                                <div class="text-main cut-text" data-cut="62">Lorem Ipsum - это текст-"рыба", часто используемый в печати часто используемый в печати</div>

                            </div>

                            <div class="text-bottom">
                                <div class="user">

                                    <span class="user-img">
                                        <img src="images/user-foto.jpg" alt="" />
                                    </span>
                                    <span class="user-name">Алина Иванова</span>

                                </div>
                                <div class="singularity">
                                    <span class="date">30.01.2016</span>
                                    <span class="time">13.54</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="single-item-wrap">

                    <a href="#">
                        <div class="img">
                            <img src="images/single-item-img3.jpg" alt="" />
                        </div>
                        <div class="text">

                            <div class="text-body">

                                <div class="text-top">
                                    <h6>Что такое Lorem Ipsum</h6>
                                </div>
                                <div class="text-main cut-text" data-cut="62">Lorem Ipsum - это текст-"рыба", часто используемый в печати часто используемый в печати</div>

                            </div>

                            <div class="text-bottom">
                                <div class="user">

                                    <span class="user-img">
                                        <img src="images/user-foto.jpg" alt="" />
                                    </span>
                                    <span class="user-name">Алина Иванова</span>

                                </div>
                                <div class="singularity">
                                    <span class="date">30.01.2016</span>
                                    <span class="time">13.54</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="single-item-wrap">

                    <a href="#">

                        <div class="img">
                            <img src="images/single-item-img4.jpg" alt="" />
                        </div>
                        <div class="text">

                            <div class="text-body">

                                <div class="text-top">
                                    <h6>Что такое Lorem Ipsum</h6>
                                </div>
                                <div class="text-main cut-text" data-cut="62">Lorem Ipsum - это текст-"рыба", часто используемый в печати часто используемый в печати</div>

                            </div>

                            <div class="text-bottom">
                                <div class="user">

                                    <span class="user-img">
                                        <img src="images/user-foto.jpg" alt="" />
                                    </span>
                                    <span class="user-name">Алина Иванова</span>

                                </div>
                                <div class="singularity">
                                    <span class="date">30.01.2016</span>
                                    <span class="time">13.54</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="single-item-wrap">

                    <a href="#">
                        <div class="img">
                            <img src="images/single-item-img5.jpg" alt="" />
                        </div>
                        <div class="text">

                            <div class="text-body">

                                <div class="text-top">
                                    <h6>Что такое Lorem Ipsum</h6>
                                </div>
                                <div class="text-main cut-text" data-cut="62">Lorem Ipsum - это текст-"рыба", часто используемый в печати часто используемый в печати</div>

                            </div>

                            <div class="text-bottom">
                                <div class="user">

                                    <span class="user-img">
                                        <img src="images/user-foto.jpg" alt="" />
                                    </span>
                                    <span class="user-name">Алина Иванова</span>

                                </div>
                                <div class="singularity">
                                    <span class="date">30.01.2016</span>
                                    <span class="time">13.54</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="single-item-wrap">

                    <a href="#">
                        <div class="img">
                            <img src="images/single-item-img6.jpg" alt="" />
                        </div>
                        <div class="text">

                            <div class="text-body">

                                <div class="text-top">
                                    <h6>Что такое Lorem Ipsum</h6>
                                </div>
                                <div class="text-main cut-text" data-cut="62">Lorem Ipsum - это текст-"рыба", часто используемый в печати часто используемый в печати</div>

                            </div>

                            <div class="text-bottom">
                                <div class="user">

                                    <span class="user-img">
                                        <img src="images/user-foto.jpg" alt="" />
                                    </span>
                                    <span class="user-name">Алина Иванова</span>

                                </div>
                                <div class="singularity">
                                    <span class="date">30.01.2016</span>
                                    <span class="time">13.54</span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>