<div class="superlist">
    <div class="container">
        <div class="row">
            <div class="post-list-block col-lg-12">
                <ul class="mapper universal-list">
                    <li><a href="">Главная страница</a></li>
                    <li><a href="">Карта сайта</a></li>
                    <li><a href="">Нормативка</a></li>
                    <li><a href="">ФГОС ДО</a></li>
                    <li><a href="">Методическая копилка</a></li>
                    <li><a href="">Инструктору по ФИЗО</a></li>
                    <li><a href="">– Воспитателям</a></li>
                    <li><a href="">Материалы коллег</a></li>
                    <li><a href="">Мои достижения</a></li>
                    <li><a href="">Форум</a></li>
                    <li><a href="">Фотоальбомы</a></li>
                    <li><a href="">Гостевая книга</a></li>
                    <li><a href="">Обратная связь</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>