<div class="tabs-wrap">
    <div class="container">
        <div class="content-tabs">
            <div class="korpus cfix">
                <input type="radio" name="odin" checked="checked" id="vkl1" />
                <label class="tab-title" for="vkl1">Дипломы <span>4</span></label>

                <input type="radio" name="odin" id="vkl2" />
                <label class="tab-title"   for="vkl2">Грамоты <span>4</span></label>

                <input type="radio" name="odin" id="vkl3" />
                <label class="tab-title"  for="vkl3">Сертификаты <span>4</span></label>

                <input type="radio" name="odin" id="vkl4" />
                <label class="tab-title"  for="vkl4"> Прочее <span>4</span> </label>

                <div class="tabs-conteiner">
                    <div class="item-list cfix">
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=1 data-imgnum=0>
                                    <img src="images/dip1.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=1 data-imgnum=1>
                                    <img src="images/dip2.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=1 data-imgnum=2>
                                    <img src="images/dip3.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=1 data-imgnum=3>
                                    <img src="images/dip4.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=1 data-imgnum=4>
                                    <img src="images/dip5.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=1 data-imgnum=5>
                                    <img src="images/dip6.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=1 data-imgnum=6>
                                    <img src="images/dip7.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=1 data-imgnum=7>
                                    <img src="images/dip8.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-conteiner">
                    <div class="item-list cfix">
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=2 data-imgnum=0>
                                    <img src="images/dip1.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=2 data-imgnum=1>
                                    <img src="images/dip1.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=2 data-imgnum=2>
                                    <img src="images/dip1.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-conteiner">
                    <div class="item-list cfix">
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=3 data-imgnum=0>
                                    <img src="images/dip1.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=3 data-imgnum=1>
                                    <img src="images/dip1.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=3 data-imgnum=2>
                                    <img src="images/dip1.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-conteiner">
                    <div class="item-list cfix">
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=4 data-imgnum=0>
                                    <img src="images/dip1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="zipper">
                                <i class="material-icons">zoom_in</i>
                                <a href="#modals-slider" class="fancybox-slider" data-group=4 data-imgnum=1>
                                    <img src="images/dip1.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>