<div class="tags">
    <div class="container">
        <div class="row">
            <div class="tags-main">
                <span class="tags-title">Поиск по тегам:</span>
                <div class="tags-links">
                    <a href="#">Занятия</a>
                    /
                    <a href="#">Упражнения</a>
                    /
                    <a href="#">Питание</a>
                    /
                    <a href="#">Родитель</a>
                    /
                    <a href="#">Педагог</a>
                </div>
            </div>
        </div>
    </div>
</div>