<div class="wrap-texter">
    <div class="container">
        <div class="text-block">
            <div class="title-text-desc">
                <div class="content">
                    <p>Опубликовано:</p>

                    <p> <i class="fa fa-calendar"></i> 30.01.2016 </p>

                    <p> <i class="fa fa-clock-o"></i> 13:54</p>
                </div>
                <div class="content">
                    <p> <i class="fa fa-calendar"></i> 1354 просмотров </p>
                </div>
            </div>
            <div class="ctext">
                <div>
                    <img src="images/ti1.jpg" alt="" style="width: 100%; height: auto;">
                    <p> 6а класс / Подмоскосье / 2016 год </p>
                </div>

                <h5>Что такое Lorem Ipsum?</h5>
                <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>

                <h5>Откуда он появился?</h5>
                <p>Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад. Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе. В результате он нашёл неоспоримый первоисточник Lorem Ipsum в разделах 1.10.32 и 1.10.33 книги "de Finibus Bonorum et Malorum" ("О пределах добра и зла"), написанной Цицероном в 45 году н.э. Этот трактат по теории этики был очень популярен в эпоху Возрождения. Первая строка Lorem Ipsum, "Lorem ipsum dolor sit amet..", происходит от одной из строк в разделе 1.10.32</p>


                <blockquote>
                    <span>“</span>
                    <i>Классический текст Lorem Ipsum, используемый с XVI века, приведён ниже. Также даны разделы 1.10.32 и 1.10.33 "de Finibus Bonorum et Malorum" Цицерона и их английский перевод, сделанный H. Rackham, 1914 год.</i>
                </blockquote>


                <h5>Почему он используется?</h5>
                <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>

                <div>
                    <img src="images/ti2.jpg" alt="">
                    <p> 6а класс / Подмоскосье / 2016 год </p>
                </div>


                <h5>Где его взять? </h5>
                <p>Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов. </p>

                <p>
                    <span>Автор:</span>
                    <a href="">Ольга Иванова</a>
                </p>

            </div>
            <div class="foot-text">
                <div class="ask-row">Понравилась статья? Поделитесь с друзьями!</div>
                <div class="soc-row">
                    <p>Поделиться:</p>
                    <a href="">
                        <i class="fa fa-vk"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
            <div class="chat-book">
                <div class="row top-block">
                    <div class="col-sm-10 col-xs-12 width-clone-chat">
                        <!-- chat() in validate_script.js -->
                         <div class="main-chat">
                            <form name="main-chat" class="form-chat-main">
                                <div class="chat-person" data-href="http://test">
                                    <div class="chat-person-img">
                                        <img src="images/person-img-1.png" alt="">
                                    </div>
                                    <div class="chat-person-name"><span>Анна</span> <span>Сидорова</span></div>
                                </div>
                                <div class="chat-form">
                                    <textarea name="chat-text" id="" cols="30" rows="5" placeholder="Написать комментарий..." name="chat-person-text" ></textarea>
                                    <button type="submit" class="btn btn-sub" disabled ><span>Отправить</span><span class="before mdl-color--accent"></span></button>
                                </div>
                            </form>
                        </div>
                        <!--  -->
                        <div class="cloned-chat">
                            <form  name="item-chat" class="form-chat-main">
                                <div class="chat-person">
                                    <div class="chat-person-img">
                                        <img src="images/person-img-1.png" alt="">
                                    </div>
                                </div>
                                <div class="chat-form">
                                    <textarea name="chat-text" id="" cols="30" rows="5" placeholder="Написать комментарий..."></textarea>
                                    <button type="submit" class="btn btn-sub" ><span class="before mdl-color--accent"></span><span>Отправить</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row middle-block">
                    <div class="col-xs-12 chat-item-wrap">
                        <div class="chat-item">
                            <div class="chat-person cfix">
                                <div class="chat-person-img">
                                    <img src="images/person-img-2.png" alt="">
                                </div>
                                <div class="chat-person-detail ">
                                    <div class="chat-person-name">
                                        <a href="http://test">
                                            <span class="before mdl-color--accent"></span>
                                            <span>Алина</span>
                                            <span>Иванова</span>
                                        </a>
                                    </div>
                                    <div class="chat-person-date">
                                        <i class="fa fa-calendar"></i>
                                        <span>30.01.2016 </span>
                                        <i class="fa fa-clock-o"></i>
                                        <span>13.54</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                Добрый день. Хорошее фото
                            </div>
                            <div class="block-button">
                                <div class="drop drop-share-block">
                                    <div class="convert">
                                        <i class="material-icons">more_vert</i>
                                    </div>
                                    <div class="hide-hipe share-block">
                                        <ul>
                                            <li>
                                                <span  class="reply-post">
                                                    <i class="material-icons">reply</i>
                                                    <span>Ответить</span>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#" class="block-post">
                                                    <i class="material-icons">block</i>
                                                    <span>Заблокировать</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-item">
                            <div class="chat-person cfix">
                                <div class="chat-person-img">
                                    <img src="images/person-img-1.png" alt="">
                                </div>
                                <div class="chat-person-detail ">
                                    <div class="chat-person-name">
                                        <a href="http://test">
                                            <span class="before mdl-color--accent"></span>
                                            <span>Анна</span>
                                            <span>Сидорова</span>
                                        </a>
                                    </div>
                                    <div class="chat-person-date">
                                        <i class="fa fa-calendar"></i>
                                        <span>30.01.2016 </span>
                                        <i class="fa fa-clock-o"></i>
                                        <span>14.57</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                Действительно хорошие, и мероприятие было замечательное. Молодцы!! Так держать!! (:
                            </div>
                            <div class="block-button">
                                <div class="drop drop-share-block">
                                    <div class="convert">
                                        <i class="material-icons">more_vert</i>
                                    </div>
                                    <div class="hide-hipe share-block">
                                        <ul>
                                            <li>
                                                <span class="reply-post">
                                                    <i class="material-icons">reply</i>
                                                    <span>Ответить</span>
                                                </span>
                                            </li>
                                            <li>
                                                <a href="#" class="block-post" >
                                                    <i class="material-icons">block</i>
                                                    <span>Заблокировать</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- 2th lvl -->
                            <div class="chat-item">
                                <div class="chat-person cfix">
                                    <div class="chat-person-img">
                                        <img src="images/person-img-1.png" alt="">
                                    </div>
                                    <div class="chat-person-detail ">
                                        <div class="chat-person-name">
                                            <a href="http://test">
                                                <span class="before mdl-color--accent"></span>
                                                <span>Владислава </span>
                                                <span>Антонова</span>
                                            </a>
                                        </div>
                                        <div class="chat-person-date">
                                            <i class="fa fa-calendar"></i>
                                            <span>30.01.2016 </span>
                                            <i class="fa fa-clock-o"></i>
                                            <span>14.57</span>

                                            <span class="reply-post">
                                                <i class="material-icons">reply</i>
                                                <span>Ответить</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <span>Анна,</span> Спасибо :)
                                </div>
                            </div>
                            <div class="chat-item">
                                <div class="chat-person cfix">
                                    <div class="chat-person-img">
                                        <img src="images/person-img-3.png" alt="">
                                    </div>
                                    <div class="chat-person-detail ">
                                        <div class="chat-person-name">
                                            <a href="http://test">
                                                <span class="before mdl-color--accent"></span>
                                                <span>Алевтина </span>
                                                <span>Федотова</span>
                                            </a>
                                        </div>
                                        <div class="chat-person-date">
                                            <i class="fa fa-calendar"></i>
                                            <span>31.01.2016 </span>
                                            <i class="fa fa-clock-o"></i>
                                            <span>10.58</span>

                                            <span class="reply-post">
                                                <i class="material-icons">reply</i>
                                                <span>Ответить</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="text">
                                    <span>Анна,</span> Спасибо вам за помощь!
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>