@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

    /* search-row */

        .search-row{
            .row{padding-left:15px;padding-right: 15px;}
        }

    /* /search-row */

}
@media screen and (max-width: 1200px){

    /* fotogallery */

        .fotoblock{

            .fotogallery-item{
                .content{
                    .text-top{flex-wrap:wrap;justify-content:flex-start;
                        span{display: block;width: 100%;margin-bottom: 5px;
                            &.images-value{margin-bottom: 0;}
                        }
                    }
                }
            }

        }

    /* /fotogallery */

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* header */

        .header-left{display: flex;justify-content:space-between;}
        .top-menu{float: none;width:calc(100% - 80px);
            ul{width: 100%;
                li{
                    &:first-child{padding-left: 0;}
                }
            }
        }

        .header-nav{padding-bottom: 40px;
            .header-sendwich-wrap{display: block;}
            .main-menu{padding: 0;position: absolute;left:0;right:0;
                nav{display: none;padding: 10px 5px 0;
                    ul{display: block; height: auto;padding-bottom: 10px;
                        li{display: block;line-height: normal;
                            a{line-height: 20px;padding:10px 5px;display: inline-block;
                                &:after{width: 100%;height: 4px;left:50%;transform:scale(0) translate(-50%, 0);}
                                &:hover{
                                    &:after{transform:scale(1) translate(-50%, 0);}
                                }
                            }
                        }
                    }
                }
            }
        }

    /* /header */

    /* fotogallery */

        .fotoblock{
            .fotogallery-container{justify-content:space-between;
                .fotogallery-item{width: calc(50% - 10px);
                    &:nth-child(3n-1){margin: 0;}
                    .content{
                        .text-top{flex-wrap:nowrap;justify-content:space-between;
                            span{display: inline-block;margin-bottom: 0px;width: auto;}
                        }
                    }
                }
            }
        }

    /* /fotogallery */

    /* single-items */

        .single-items{
            .single-items-wrap{justify-content:space-between;
                .single-item-wrap{width: calc(50% - 10px);
                    &:nth-child(3n-1){margin:0 0 20px 0;}
                }
            }
        }

    /* /single-items */

}
@media screen and (max-width: 767px){

    /* fotogallery */

        .fotoblock{padding: 57px 15px 0 15px;
            .fotogallery-title{text-align: center;}
            .fotogallery-container{margin-bottom: 40px;
                .fotogallery-item{margin-bottom: 30px;
                    .content{
                        .text-top{flex-wrap:wrap;justify-content:flex-start;
                            span{width: 100%;margin-bottom: 5px;}
                        }
                        .text-bottom{font-size: 16px;line-height: 22px;}
                    }
                }
            }
        }

    /* /fotogallery */

    /* single-items */

        .single-items{
            .single-items-wrap{padding: 0 15px;}
        }

    /* /single-items */

    /* tags */

        .tags{padding:40px 15px 0 15px;}

    /* /tags */

    /* modals-slider */

        .fancybox-slider-wrap{
            #modals-slider{
                .slider-top{flex-wrap:wrap;
                    .slider-name{width: 100%;min-height:60px;justify-content:center;align-items:center;}
                }
                .slider-body{height: calc(100% - 120px);
                    &.active{height: calc(100% - 225px);}
                    .slider-body-main{padding: 0 40px;
                        .slick-arrow{width: 26px;
                            &:before, &:after{width: 16px;left:calc(50% - 8px);}
                            &.slick-next{
                                &:before, &:after{transform-origin:95% 50%;}
                            }
                            &.slick-prev{
                                &:before, &:after{transform-origin:5% 50%;}
                            }
                        }
                    }
                }
            }
            .fancybox-close{top:60px;}
        }

    /* /modals-slider */

}
@media screen and (max-width: 666px){

    /* fotogallery */

        .fotoblock{
            .fotogallery-container{display: block;
                .fotogallery-item, .fotogallery-item:nth-child(3n-1){max-width: 400px;width: 100%;margin: 0 auto 20px auto;
                    .content{
                        .text-bottom{min-height: 55px;}
                    }
                }
            }
        }

    /* /fotogallery */

    /* single-items */

        .single-items{
            .single-items-wrap{display: block;
                .single-item-wrap, .single-item-wrap:nth-child(3n-1){max-width: 400px;width: 100%;margin:0 auto 20px auto;}
            }
        }

    /* /single-items */

    /* statistic */

        .statistic{
            .modal-body{display: block;padding:20px 10px 0 10px;
                .svg{margin:0 auto 0px auto;}
                .info{width: 100%;padding-left: 0;
                    .info-wrap{max-width: 100%;display: flex;flex-wrap:wrap;justify-content:center;align-items:flex-end;
                        .info-row{width: calc(50% - 20px);padding: 15px 15px 15px 15px;margin: 0 10px;font-size: 14px;}
                    }
                }
            }
        }

    /* /statistic */

    /* modals-slider */

        .fancybox-slider-wrap{
            #modals-slider{
                .slider-top{padding: 0 5px;
                    .slider-name{font-size: 14px;}
                }
            }
            .fancybox-close{right:5px;}
        }

    /* /modals-slider */

}
@media screen and (max-width: 479px){

    /* header */

        .header-left{flex-wrap:wrap;
            .content-block{width: 100%;text-align: center;
                &:last-child{max-width: none;}
                .logo, .doctor-naming{margin: 0 auto;justify-content:center;}
            }
        }

        .top-menu{width: 100%;padding-bottom: 50px;
            ul{display: flex;height: auto;flex-wrap:wrap;justify-content:space-around;
                li{display: block;margin-bottom: 20px;width: 50%;text-align: center;padding: 0 5px;}
            }
        }

        .header-nav{
            .header-sendwich-wrap{right:calc(50% - 15px);bottom:calc(100% + 15px);}
        }

    /* /header */

    /* search-row */

        .search-row{
            .search-input{
                input{padding:0 108px 0 28px;}
            }
            .search-submit{width: 90px;}
        }

    /* /search-row */

    /* tags */

        .tags{
            .tags-title, .tags-links{max-width: 100%;width: 100%;text-align: center;margin-bottom: 5px;}
            .tags-links{margin-bottom: 0;}
        }

    /* /tags */

    /* statistic */

        .statistic{
            .modal-body{
                .info{
                    .info-wrap{display: block;
                        .info-row{width: 100%;margin:0;}
                    }
                }
            }
        }

    /* /statistic */

}
@media screen and (max-width: 320px){

}

@media print{

    .fancybox-lock{
        .global-wrapper{display:none!important;}
    }

    .fancybox-overlay, .fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner{position: static!important;}
    .slider-top, .slider-bottom, .slider-body-footer, .button-plus, .button-up.show{display: none!important;}

    .fancybox-slider-wrap{
        #modals-slider{
            .slider-body{padding-top: 0!important;height: auto!important;
                .slider-body-main{padding: 0!important;
                    .slick-arrow{display: none!important;}
                    .slick-track{width: 100%!important;transform:translate3d(0px, 0px, 0px)!important;}
                }
            }
            .slider-item{display: none!important;width:100%!important;min-height:100vh!important;text-align: center;
                &.slick-current{display: flex!important;align-items:center!important;}
            }
        }
    }

}