@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
    /*about*/
    .about{
        .item-wrap{padding: 45px 5px 20px 5px;}
        .item-1{
            &:after{width: 0;height: 0; border-left: 15px solid transparent;border-right: 15px solid transparent;border-top: 15px solid white;position: absolute;top: 100%;left: 50%;content: '';z-index: 10;transform: translateX(-50%);}
        }
        .title img{margin-bottom: 10px;}
    }
    /*/about*/

    /*chat*/
    .chat-item{padding-left: 15px;

    }
    .cloned-chat{padding-right: 20px;}
    /*/chat*/


}
@media screen and (max-width: 767px){
    /*chat*/
    .chat-book{
        .container{}
        .main-chat,.not-logged-chat{padding-left: 0;padding-top: 15px;margin-bottom: 15px;
            .chat-person{}
            .chat-person-img{
                img{}
            }
            .chat-form{
                textarea{max-height: 100px;}
            }
        }
    }
    /*/chat*/
}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){
    /*about*/
    .about{
        .title{font-size: 22px;line-height: 24px;text-align: center;padding-bottom: 15px;
            img{margin: 0 auto;float: none;display: block;}
        }
        .text{line-height: 18px;font-size: 14px;}
    }
    /*/about*/
}
@media screen and (max-width: 380px){
    /*chat*/
    .chat-item{padding-left: 10px;padding-bottom: 10px;
        &:after{display: none;}
        .chat-person{max-width: 85%;padding-top: 10px;
            .chat-person-name{margin-bottom: 5px}
            .chat-person-img{margin-right: 8px;}
        }
        .text{max-width: 100%;}
        .text{padding-top: 5px;padding-bottom: 5px;font-size: 13px;max-width: 90%;}
        .block-button{right: 20px;min-height: 50px;}

        .chat-item{margin-left: calc(10px + 1.5%);padding-left: 10px;
            .chat-person{max-width: 95%;}
            .chat-person-detail{width: calc(100% - 45px);}
            .chat-person-date span.reply-post{display: block;}
            .text{padding-top: 7px;padding-bottom: 5px;}
        }
    }
    .cloned-chat{padding-right: 20px;}
    /*/chat*/
}
@media screen and (max-width: 320px){

}