@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* header */

        .header-left{display: flex;justify-content:space-between;}
        .top-menu{float: none;width:calc(100% - 80px);
            ul{width: 100%;
                li{
                    &:first-child{padding-left: 0;}
                }
            }
        }

        .header-nav{padding-bottom: 40px;
            .header-sendwich-wrap{display: block;}
            .main-menu{padding: 0;position: absolute;width: 100%;
                nav{display: none;padding: 10px 5px 0;
                    ul{display: block; height: auto;
                        li{padding:10px 5px; height: 40px; display: block;
                            a{line-height: 20px;}
                        }
                    }
                }
            }
        }

    /* /header */


}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

    /* header */

        .header-left{flex-wrap:wrap;
            .content-block{width: 100%;text-align: center;
                &:last-child{max-width: none;}
                .logo, .doctor-naming{margin: 0 auto;}
            }
        }

        .top-menu{width: 100%;padding-bottom: 50px;
            ul{display: flex;height: auto;flex-wrap:wrap;justify-content:space-between;
                li{display: block;margin-bottom: 20px;width: 50%;text-align: center;padding: 0 5px;}
            }
        }

        .header-nav{
            .header-sendwich-wrap{right:calc(50% - 15px);bottom:calc(100% + 15px);}
        }

    /* /header */

}
@media screen and (max-width: 320px){

}